<div ng-controller="vira_new_part_typeController">
    <div id="popup_personnel" dx-popup="popup_personnel" class="no-padding" style='padding:0 !important;'>
        <div class="col-lg-12 col-md-12 col-sm-12 padding-0" style="padding: 10px 5px 0 5px">
            <div style=" border: 1px solid #ccc;">
                <div style="width: 100%;padding:10px 0 10px 0; margin-top:5px" class="dx-border">
                    <div class="col-lg-12 col-md-12 padding-0" style="padding: 0 10px 0 10px;">
                        <table style="width:100%">
                            <tr>
                                <td style="width:80px;font-size:12px;padding-right:5px;text-align:right">
                                    ATA:
                                </td>
                                <td>
                                    <div dx-select-box="sb_ata" class="center" style="width: 100%"></div>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div class="col-lg-12 col-md-12 padding-0" style="padding: 10px 10px 0 10px;">
                        <table style="width:100%">
                            <tr>
                                <td style="width:80px;font-size:12px;padding-right:5px;text-align:right">
                                    Part Type:
                                </td>
                                <td>
                                    <div dx-text-box="txt_part_type" class="center" style="width: 100%"></div>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div style="clear:both"></div>
                </div>
            </div>
        </div>


        <!--<table style="margin-top:10px;color:black;width:100%" class="dx-border">
            <tr>
                <td class="td-field" style="font-weight:bold">ATA:</td>
                <td class="td-field"><div dx-select-box="sb_ata" class="center" style="width: 100%"></div></td>
            </tr>
            <tr>

                <td class="td-field" style="font-weight:bold">Part Type:</td>
                <td class="td-field"><div dx-text-box="txt_part_type" class="center"></div></td>-->
        <!--<td class="td-field" style="font-weight:bold">A/C Type:</td>
        <td class="td-field"><div dx-select-box="sb_actype" class="center"></div></td>-->
        <!--</tr>-->
        <!--<tr>
            <td class="td-field" style="font-weight:bold">Part Group:</td>
            <td class="td-field"><div dx-select-box="sb_part_group" class="center"></div></td>

        </tr>
        <tr>
            <td class="td-field" style="font-weight:bold">Code:</td>
            <td class="td-field"><div dx-text-box="txt_code" class="center"></div></td>

            <td class="td-field" style="font-weight:bold">Oleic:</td>
            <td class="td-field"><div dx-check-box="ch_code" class="center"></div></td>

        </tr>
        <tr>
            <td class="td-field" style="font-weight:bold">Comment:</td>
            <td class="td-field" colspan="3"><div dx-text-area="txt_comment" class="center"></div></td>

        </tr>-->
        <!--</table>-->
    </div>
    <div dx-load-panel="loadPanel"></div>
</div>
