<style>
   

    .box .rowx.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }
</style>
<div class="box profile" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>

    <div class="rowx content" style="clear:both">
        
        <div class=" col-lg-12 col-md-9 col-sm-9 col-xs-9 col1" style="padding-right:2px;padding-left:2px;">
           

        </div>
    </div>
    <div class="rowx footer">
        FOOTER
    
        <div style="clear:both"></div>
    </div>

  

   
</div>


