<style>
    .dx-treelist .dx-row > td {
        padding: 12px 3px 12px 3px !important
    }

    .lib-folder {
        border: 1px solid #ccc;
        margin: 4px 6px 0 6px;
        /*padding:20px !important;*/
        display: block;
        background-color: cornsilk;
    }

    .folder-notvisited {
        font-weight: bold;
        font-size: 14px !important;
    }

    .folder-notvisited-hint {
        color: red;
    }

    .file-visited {
        color: #00ff99 !important;
    }

    .file-visited-title {
        font-weight: bold;
    }

    .lib-book {
        border: 1px solid #ccc;
        margin: 4px 6px 0 6px;
        /*padding:20px !important;*/
        display: block;
        background-color: white;
    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f0f0f0;
        padding: 20px;
    }

    .section {
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid lightgray;
    }

    h2 {
        color: black;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .trn_card h3 {
        margin-bottom: 10px;
        color: black;
        font-size: 18px;
        border: none !important
    }

    .attendance-section {
        margin-bottom: 20px;
        padding: 5px 0 5px 0;
        background-color: #fff;
        border-radius: 0px;
        border: 0px solid lightgray;
    }

    /* trn_card layout for mobile devices */
    .attendance-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .attendance_trn_card {
        background: linear-gradient(135deg, #f6f9fc, #fff);
        border-radius: 5px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
    }

        .attendance_trn_card h3 {
            font-size: 20px;
            color: #333;
            margin: 0;
            padding: 15px;
            background-color: #FF5722;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .attendance_trn_card h3:hover {
                background-color: #E64A19;
            }

        .attendance_trn_card .trn_card-details {
            /*display: none;*/
            padding: 10px 0;
            background-color: #fff
        }

        .attendance_trn_card.active .trn_card-details {
            display: block;
        }

    .remark-input, .score-input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border-radius: 12px;
        border: 1px solid #ddd;
        background-color: #f0f0f0;
        font-size: 15px;
        transition: all 0.3s ease;
    }

        .remark-input:focus, .score-input:focus {
            background-color: #fff;
            border-color: #007bff;
            outline: none;
        }

    /* Final result buttons */
    .final-result-buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-left: 5px;
        justify-content: center
    }

    .final-result-button {
        padding: 10px 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        cursor: pointer;
        color: gray;
        background-color: #fff;
        width: 100px;
        transition: background-color 0.3s ease;
    }

        /* Default button styles */
        .final-result-button.pass,
        .final-result-button.failed,
        .final-result-button.reexam {
            background-color: white;
        }

        /* Active button styles */
        .final-result-button.active {
            /*background-color: #28a745;*/
            transform: scale(1.05);
            color: black;
            font-weight: bold;
        }

        .final-result-button.failed.active {
            background-color: #ff5c33;
        }

        .final-result-button.active.reexam {
            background-color: #ffcc66;
        }

        .final-result-button.active.pass {
            background-color: #00e6ac;
        }

    .attend_section {
        margin: 10px 5px 0px 5px;
        background-color: white;
        border-radius: 0px;
        border: 1px solid #ff764d
    }

    h2 {
        color: #007bff;
        font-size: 24px;
        margin-bottom: 20px;
    }

    /* Table Styling */
    .attend_attendance_table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .attend_attendance_table th, .attend_attendance_table td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
        }

        .attend_attendance_table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }



    .info-container {
        border-radius: 10px;
        padding: 5px;
    }

        .info-container h2 {
            margin: 0;
            padding-bottom: 15px;
            font-size: 24px;
            border-bottom: 1px solid #666;
            text-align: right;
        }

    .tbl_course {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;
    }

    .table_data {
        padding: 8px;
        border: 1px solid #666;
        font-size: 13px;
        text-align: center;
    }

    .table_head {
        padding: 8px;
        text-align: left;
        border: 1px solid #666;
        font-size: 13px;
    }

    .section-title {
        font-weight: bold;
        text-transform: uppercase;
        color: #ffcc00;
        padding-top: 20px;
    }

    .highlight {
        color: #ffcc00;
        font-weight: bold;
    }


    /* Table layout for larger screens */
    @media (min-width: 768px) {
        .attendance-container {
            display: none;
        }

        .attendance-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .attendance-table th, .attendance-table td {
                border: 1px solid #ddd;
                padding: 12px;
                text-align: center;
            }

            .attendance-table th {
                background-color: #f2f2f2;
                font-weight: bold;
            }

            .attendance-table .final-result-buttons {
                display: inline-block;
            }

            .attendance-table .final-result-button {
                width: auto;
                padding: 5px 10px;
            }

        .attend_participant_list {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .attendance-table {
            display: none;
        }

        .trn_card {
            width: 100%
        }

        .attend_attendance_table {
            display: none;
        }

        .attend_participant_list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .attend_participant_item {
            background-color: white;
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .attend_participant_details {
            display: none;
            margin-top: 10px;
        }

        .attend_participant_item.attend_active .attend_participant_details {
            display: block;
        }

        .attend_participant_details label {
            display: block;
            margin-bottom: 5px;
        }
        /* .dx-item-content.dx-toolbar-item-content{
            min-width:200px;
        }*/
        /* Main container styling */
        .main-container {
            max-width: 1200px;
            margin: 0 auto;
            background-color: #f0f3f5;
            overflow-y: auto;
        }

        /* Card container styling for each survey category */
        .card-container {
            display: flex;
            flex-direction: column;
            background-color: white;
            border: 1px solid #ccc;
            margin: 10px 0;
            transition: transform 0.2s;
            border-radius: 5px;
        }

            .card-container:hover {
                transform: scale(1.02);
            }

        /* Section title styling */
        .title {
            font-size: 16px;
            font-weight: bold;
            color: #333;
            padding: 10px;
            background-color: #cccccc;
            text-align: left;
            border-radius: 3px;
            margin-bottom: 15px;
        }

        /* Question styling */
        .question {
            font-size: 14px;
            color: #555;
            margin-bottom: 8px;
            font-weight: bold;
        }

        /* Rating row container */
        .rating-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 7px;
            margin: 5px 0;
            border-bottom: 1px solid #f0f0f0;
        }

        /* Custom checkbox styling */
        .container {
            display: inline-block;
            position: relative;
            padding-left: 25px;
            margin-right: 10px;
            cursor: pointer;
            font-size: 14px;
            user-select: none;
        }

            /* Hide the default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

        /* Custom checkmark styling */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            border: 1px solid orange;
            background-color: white;
        }

        /* When the checkbox is checked */
        .container input:checked ~ .checkmark {
            background-color: orange;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .container input:checked ~ .checkmark:after {
            display: block;
        }

        .container .checkmark:after {
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        /* Responsive styling */
        @media (max-width: 767px) {
            .rating-row {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .dx-item.dx-toolbar-item.dx-toolbar-label {
        max-width: 150px !important;
    }
</style>
<div style="height:100%;">
    <div class="box library maincontainer" style="height:100%;overflow-y:hidden;max-width:1200px;margin:0 auto 0 auto">
        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>

        <div class="rowx content" style="clear:both;background:#f0f3f5; ">
            <div class="info-container" style="overflow-y:auto">
                <table class="tbl_course" style="background:white" ng-click="click_subject(course)">
                    <tr>
                        <th class="table_head" colspan="4" style="background: #d9d9d9;text-align:center">
                            <div>{{course.Title}}</div>
                            <!-- <div style="padding-top:3px;font-size:13px;font-weight:normal">({{course.CertificateType}})</div>-->

                        </th>
                    </tr>


                    <tr>
                        <th class="table_head">Class ID</th>
                        <td class="table_data" style="min-width:95px;">{{course.No}}</td>
                        <th class="table_head">Status</th>
                        <td class="table_data" style="min-width:95px;">{{course.Status}}</td>
                    </tr>
                    <!--<tr>
                        <th class="table_head" colspan="2">Type of Class Holding</th>
                        <td class="table_data" colspan="2">{{course.HoldingType}}</td>
                    </tr>-->

                    <tr>
                        <th class="table_head">Start</th>
                        <td class="table_data" colspan="3">{{course.DateStart | date: 'yyyy-MM-dd HH:mm'}}</td>

                    </tr>
                    <tr>
                        <th class="table_head">End</th>
                        <td class="table_data" colspan="3">{{course.DateEnd | date: 'yyyy-MM-dd HH:mm'}}</td>
                    </tr>
                    <tr>
                        <th class="table_head">Duration</th>
                        <td class="table_data">{{course.Duration}} {{course.DurationUnit}}</td>
                        <th class="table_head">Organization</th>
                        <td class="table_data">{{course.Organization}}</td>

                    </tr>
                    <tr>
                        <th class="table_head">Location</th>
                        <td class="table_data" colspan="3">{{course.Location}}</td>

                    </tr>

                    <tr ng-show="followup.subjects.length==0">
                        <th class="table_head" colspan="1">Instructor(s)</th>
                        <td class="table_data" colspan="3">{{course.Instructor}}</td>
                    </tr>
                    <tr>
                        <th class="table_head" colspan="1">Signed at</th>
                        <td class="table_data" colspan="3">  {{course.Date_Sign_Ins1 | date: 'yyyy-MM-dd HH:mm'}}</td>
                    </tr>
                    <!--<tr>
                        <th class="table_head" colspan="4" style="background: #eee;text-align:left">
                            Sessions

                        </th>
                    </tr>
                    <tr>
                        <th class="table_head" colspan="2" style="text-align:center">Date</th>
                        <th class="table_head " style="text-align:center">Start</th>
                        <th class="table_head " style="text-align:center">End</th>
                    </tr>
                    <tr ng-repeat="session in sessions">
                        <td class="table_data" colspan="2">{{session.DateStart | date: 'yyyy-MM-dd'}}</td>
                        <td class="table_data" style="text-align:center">{{session.DateStart | date: 'HH:mm'}}</td>
                        <td class="table_data" style="text-align:center">{{session.DateEnd | date: 'HH:mm'}}</td>

                    </tr>-->
                    <tr ng-show="followup.subjects.length==0">
                        <th class="table_head" colspan="4" style="background: #eee;text-align:left">
                            Participants

                        </th>
                    </tr>
                    <tr ng-show="followup.subjects.length==0" ng-repeat="p in participants">
                        <td class="table_data" colspan="3" style="font-size:12px;text-align:left">{{p.Name}}</td>
                        <td class="table_data" style="text-align:center">{{p.Presence}}%</td>


                    </tr>

                </table>


                <table class="tbl_course" style="background:white;margin-top:5px;" ng-show="followup.subjects.length>0">
                    <tr>
                        <th class="table_head" colspan="4" style="background: #d9d9d9;text-align:center">
                            <div>Subjects</div>


                        </th>
                    </tr>
                    <tr ng-repeat="sub in followup.people_grps" ng-click="click_subject(sub)"> 
                        <th class="table_head" colspan="4" style="text-align:center;padding:0;">
                            <div style="background: #eee;padding:5px;">{{sub.Title}}</div>
                            <div style="background: #eee;padding:5px;font-weight:normal;padding-top:0;">{{sub.Instructor}}</div>
                            <div ng-repeat="p in sub.people" style="border-bottom:1px dashed #ccc">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align:left;padding:5px;">{{p.Name}}</td>
                                        <td style="text-align:center;padding:5px;font-weight:normal">{{p.Presence}}%</td>
                                    </tr>

                                </table>
                            </div>
                           
                        </th>
                    </tr>
                </table>



            </div>

            <div style="margin-top:6px;border:1px solid #ccc;text-align:center;padding:5px; font-weight:bold">
                <div ng-show="!course.Date_Sign_Director">Not Signed</div>
                <div ng-show="course.Date_Sign_Director">Signed at {{course.Date_Sign_Director | date: 'yyyy-MM-dd HH:mm'}}</div>

            </div>

            <div id="popup_exam" dx-popup="popup_exam" class="no-padding">
                <div id="scroll_checklist" dx-scroll-view="scroll_checklist" style="padding: 5px">
                    <!--<div class="section">
                        <div style="font-size: 13px; font-weight: bold"><i class="fas fa-info-circle" style="font-size: 13px"></i> Exam Details</div>
                        <div class="container">
                            <div class="trn_card">
                                <div style="font-size: 13px; font-weight: bold"><i class="fas fa-book"></i> Course Title</div>
                                <p>HF</p>
                            </div>
                            <div class="trn_card">
                                <div style="font-size: 13px; font-weight: bold"><i class="fas fa-id-badge"></i> Class ID</div>
                                <p>CLS-33884</p>
                            </div>
                            <div class="trn_card">
                                <div style="font-size: 13px; font-weight: bold"><i class="fas fa-calendar-alt"></i> Exam Date</div>
                                <p>19.10.2023</p>
                            </div>
                            <div class="trn_card">
                                <div style="font-size: 13px; font-weight: bold"><i class="fas fa-clock"></i> Course Duration</div>
                                <p>8 hrs</p>
                            </div>
                        </div>
                    </div>-->
                    <!-- Attendance Section -->
                    <div class="attendance-section">

                        <!-- trn_card layout for mobile devices -->
                        <div class="attendance-container" ng-if="!isLargeScreen()">
                            <div class="attendance_trn_card" style=" border: 1px solid #cccccc;" ng-repeat="trainee in exam.scores">
                                <div style="align-content: center; font-size: 13px; font-weight: bold; padding-left: 8px; height: 38px; border-radius: 0; background-color: #cccccc; color: #000">{{trainee.Name}}</div>
                                <div class="trn_card-details">
                                    <input type="text" placeholder="Score" ng-model="trainee.score" ng-change="updateScore(trainee.persin_id, trainee.Score, trainee.Result)" style="width: 97%; border: 1px solid lightgray;margin: 5px; border-radius: 8px; height: 35px">
                                    <div class="final-result-buttons">
                                        <button class="final-result-button pass" ng-class="{'active': trainee.result === 'Pass'}" ng-click="updateFinalResult(trainee.Id, 'Pass')">Pass</button>

                                        <button class="final-result-button reexam" ng-class="{'active': trainee.result === 'Re-exam'}" ng-click="updateFinalResult(trainee.Id, 'Re-exam')">Re-exam</button>
                                        <button class="final-result-button failed" ng-class="{'active': trainee.result === 'Failed'}" ng-click="updateFinalResult(trainee.Id, 'Failed')">Failed</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Table layout for larger screens -->
                        <table class="attendance-table" ng-if="isLargeScreen()">
                            <thead>
                                <tr>
                                    <th class="col-lg-7 col-md-7" style="text-align:left">Name</th>
                                    <th class="col-lg-1 col-md-1">Score</th>
                                    <th class="col-lg-4 col-md-4">Final Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="trainee in exam.scores">
                                    <td style="text-align:left">{{trainee.Name}}</td>
                                    <td> <input type="text" placeholder="Score" ng-model="trainee.score" ng-change="updateScore(trainee.persin_id, trainee.Score, trainee.Result)" style="width: 97%; border: 1px solid lightgray;margin: 5px; border-radius: 8px; height: 35px;text-align:center"></td>
                                    <td>
                                        <div class="final-result-buttons">
                                            <button class="final-result-button pass" ng-class="{'active': trainee.result === 'Pass'}" ng-click="updateFinalResult(trainee.Id, 'Pass')">Pass</button>

                                            <button class="final-result-button reexam" ng-class="{'active': trainee.result === 'Re-exam'}" ng-click="updateFinalResult(trainee.Id, 'Re-exam')">Re-exam</button>

                                            <button class="final-result-button failed" ng-class="{'active': trainee.result === 'Failed'}" ng-click="updateFinalResult(trainee.Id, 'Failed')">Failed</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="popup_attendance" dx-popup="popup_attendance" class="no-padding">
                <div id="scroll_checklist" dx-scroll-view="scroll_checklist" style="padding: 5px">
                    <!-- Attendance Sections -->
                    <div class="attend_section" ng-repeat="session in sessions_attend">
                        <div ng-click="toggle_attendance_details(session.Id)"
                             style="align-content: center;font-size: 13px; font-weight: bold; padding-left: 8px; height: 38px; border-radius: 0"
                             ng-style="{'background-color': session.showDetails ? '#ff8052' : '#fff', 'color': session.showDetails ? '#fff' : '#000'}" ng-if="!isLargeScreen()">

                            <table style="width:100%">
                                <tr>
                                    <td style="width:80%;">
                                        {{session.DateStart | date: 'yyyy-MM-dd'}}  {{session.DateStart | date: 'HH:mm'}}
                                    </td>
                                    <td style="width:10%;">
                                        <i class='fas fa-user-alt' style="color:gray;"></i>
                                        {{session.total}}
                                    </td>
                                    <td style="width:10%;">
                                        <i class='fas fa-user-check' style="color:seagreen;"></i>
                                        {{session.present}}
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <!-- Desktop Table -->
                        <table class="attend_attendance_table">
                            <thead>
                                <tr>
                                    <th>National Code</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Presence</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="person in session.people">
                                    <td>{{person.NID}}</td>
                                    <td>{{person.Name}}</td>
                                    <td>{{person.Departman}}</td>
                                    <td><input readonly ng-model="person.IsPresent" ng-true-value="1" ng-false-value="0" style="margin: 0px !important" type="checkbox"></td>
                                    <td>{{person.remark}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Mobile List -->
                        <div class="attendance-container" ng-show="session.showDetails" ng-if="!isLargeScreen()">
                            <div class="attendance_trn_card" ng-repeat="person in session.people">
                                <div class="trn_card-details" style="border-bottom: 1px solid lightgray;align-content:center">
                                    <div class="col-sm-9 col-xs-9" style="display:inline-block; text-align: left; font-size: 13px">{{person.Name}}</div>
                                    <div class="col-sm-3 col-xs-3" style="display:inline-block; text-align: right"><input disabled ng-model="person.IsPresent" ng-true-value="1" ng-false-value="0" style="margin: 0px !important" type="checkbox"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



        <div id="popup_survay" dx-popup="popup_survay" class="no-padding">
            <div id="scroll_checklist" dx-scroll-view="scroll_checklist" style="padding: 5px">
                <div class="main-container">

                    <!-- Survey Section: Course Contents -->
                    <div class="card-container">
                        <div class="title">Course Contents</div>

                        <div class="rating-row">
                            <div class="question">1. Appropriateness of the content of the training program with the planned duration</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">2. Proportion of the content of the educational program with the level of education and knowledge of the learners</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Survey Section: Instructor -->
                    <div class="card-container">
                        <div class="title">Instructor</div>

                        <div class="rating-row">
                            <div class="question">1. The level of knowledge of the learners about the goals and topics of the training course</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">2. Students' participation in the topics of knowledge and scientific activities</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">3. The ability of learners to answer your questions</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">4. How to deal with learners and create mutual respect</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">5. Timely attendance of learners in the training course</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Survey Section: Facilities -->
                    <div class="card-container">
                        <div class="title">Facilities</div>

                        <div class="rating-row">
                            <div class="question">1. The degree of satisfaction with the environmental conditions of the educational space (light, heat, sound, etc.)</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">2. The level of satisfaction with educational and audio-visual facilities</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">3. The level of satisfaction with the quality of educational resources (books, pamphlets, etc.)</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">4. How to deal with the course organizers (education affairs)</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">5. The level of satisfaction with the way of reception and management of affairs</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="rating-row">
                            <div class="question">6. Satisfaction with timely payment of tuition fees</div>
                            <div class="rating-options">
                                <label class="container">
                                    1
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    2
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    3
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    4
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    5
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="rowx footer app-footer" ng-include="'app/views/footer.html?v=2036'" ng-init="type = 'trn-director-course';" style="padding:0;flex:0 0 45px"></div>

    </div>

    <div dx-load-panel="loadPanel"></div>

</div>
