<style>
    .dx-treelist .dx-row > td {
        padding: 12px 3px 12px 3px !important
    }

    .lib-folder {
        border: 1px solid #ccc;
        margin: 4px 6px 0 6px;
        /*padding:20px !important;*/
        display: block;
        background-color: cornsilk;
    }

    .folder-notvisited {
        font-weight: bold;
        font-size: 14px !important;
    }

    .folder-notvisited-hint {
        color: red;
    }

    .file-visited {
        color: #00ff99 !important;
    }

    .file-visited-title {
        font-weight: bold;
    }

    .lib-book {
        border: 1px solid #ccc;
        margin: 4px 6px 0 6px;
        /*padding:20px !important;*/
        display: block;
        background-color: white;
    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f0f0f0;
        padding: 20px;
    }

    .section {
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid lightgray;
    }

    h2 {
        color: black;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .trn_card h3 {
        margin-bottom: 10px;
        color: black;
        font-size: 18px;
        border: none !important
    }

    .attendance-section {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid lightgray;
    }

    /* trn_card layout for mobile devices */
    .attendance-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .attendance_trn_card {
        background: linear-gradient(135deg, #f6f9fc, #fff);
        border-radius: 12px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
    }

        .attendance_trn_card h3 {
            font-size: 20px;
            color: #333;
            margin: 0;
            padding: 15px;
            background-color: #FF5722;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .attendance_trn_card h3:hover {
                background-color: #E64A19;
            }

        .attendance_trn_card .trn_card-details {
            /*display: none;*/
            padding: 10px 0;
            background-color: #fff
        }

        .attendance_trn_card.active .trn_card-details {
            display: block;
        }

    .remark-input, .score-input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border-radius: 12px;
        border: 1px solid #ddd;
        background-color: #f0f0f0;
        font-size: 15px;
        transition: all 0.3s ease;
    }

        .remark-input:focus, .score-input:focus {
            background-color: #fff;
            border-color: #007bff;
            outline: none;
        }

    /* Final result buttons */
    .final-result-buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-left: 5px;
        justify-content: center
    }

    .final-result-button {
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        color: white;
        background-color: lightgray;
        width: 100px;
        transition: background-color 0.3s ease;
    }

        /* Default button styles */
        .final-result-button.pass,
        .final-result-button.failed,
        .final-result-button.reexam {
            background-color: lightgray;
        }

        /* Active button styles */
        .final-result-button.active {
            background-color: #28a745;
            transform: scale(1.05);
        }

    .attend_section {
        margin: 10px 5px 0px 5px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #ffcc00
    }

    h2 {
        color: #007bff;
        font-size: 24px;
        margin-bottom: 20px;
    }

    /* Table Styling */
    .attend_attendance_table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .attend_attendance_table th, .attend_attendance_table td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
        }

        .attend_attendance_table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }



    .info-container {
        border-radius: 10px;
        padding: 10px;
    }

        .info-container h2 {
            margin: 0;
            padding-bottom: 15px;
            font-size: 24px;
            border-bottom: 1px solid #666;
            text-align: right;
        }

    .tbl_course {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }

    .table_data {
        padding: 10px;
        border: 1px solid #666;
    }

    .table_head {
        padding: 12px;
        text-align: left;
        border: 1px solid #666;
    }

    .section-title {
        font-weight: bold;
        text-transform: uppercase;
        color: #ffcc00;
        padding-top: 20px;
    }

    .highlight {
        color: #ffcc00;
        font-weight: bold;
    }


    /* Table layout for larger screens */
    @media (min-width: 768px) {
        .attendance-container {
            display: none;
        }

        .attendance-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .attendance-table th, .attendance-table td {
                border: 1px solid #ddd;
                padding: 12px;
                text-align: center;
            }

            .attendance-table th {
                background-color: #f2f2f2;
                font-weight: bold;
            }

            .attendance-table .final-result-buttons {
                display: inline-block;
            }

            .attendance-table .final-result-button {
                width: auto;
                padding: 5px 10px;
            }

        .attend_participant_list {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .attendance-table {
            display: none;
        }

        .trn_card {
            width: 100%
        }

        .attend_attendance_table {
            display: none;
        }

        .attend_participant_list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .attend_participant_item {
            background-color: white;
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .attend_participant_details {
            display: none;
            margin-top: 10px;
        }

        .attend_participant_item.attend_active .attend_participant_details {
            display: block;
        }

        .attend_participant_details label {
            display: block;
            margin-bottom: 5px;
        }
    }
</style>
<div style="height:100%;">
    <div class="box library maincontainer" style="height:100%;overflow-y:hidden;max-width:1200px;margin:0 auto 0 auto">
        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>

        <div class="rowx content" style="clear:both;background:#f0f3f5; ">
            <div class="info-container">
                <table class="tbl_course">
                    <tr>
                        <th class="table_head" colspan="4">Title</th>
                    </tr>
                    <tr>
                        <td class="table_data" colspan="4">{{course.Title}}</td>
                    </tr>
                    <tr>
                        <th class="table_head">Type</th>
                        <td class="table_data" colspan="3">{{course.CertificateType}}</td>
                    </tr>
                    <tr>
                        <th class="table_head">Class ID</th>
                        <td class="table_data">{{course.No}}</td>
                        <th class="table_head">Status</th>
                        <td class="table_data">{{course.Status}}</td>
                    </tr>
                    <tr>
                        <th class="table_head" colspan="2">Type of Class Holding</th>
                        <td class="table_data" colspan="2">{{course.HoldingType}}</td>
                    </tr>

                    <tr>
                        <th class="table_head">Start Date</th>
                        <td class="table_data">{{course.DateStart | date: 'yyyy-MM-dd'}}</td>
                        <th class="table_head">End Date</th>
                        <td class="table_data">{{course.DateStart | date: 'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <th class="table_head">Location</th>
                        <td class="table_data">{{course.Location}}</td>
                        <th class="table_head">Duration</th>
                        <td class="table_data">{{course.Duration}} {{course.DurationUnit}}</td>
                    </tr>
                    <tr>
                        <th class="table_head">Organization</th>
                        <td class="table_data" colspan="3">{{course.Organization}}</td>
                    </tr>
                    <tr>
                        <th class="table_head" colspan="2">Training Director</th>
                        <td class="table_data" colspan="2">{{course.TrainingDirector}}</td>
                    </tr>
                    <!--<tr>
                        <th class="table_head">Sessions</th>
                        <td colspan="3">{{course.Sessions}}</td>
                    </tr>-->

                </table>

                <table class="tbl_course">
                    <tr>
                        <th class="table_head col-sm-6 col-xs-6">Date</th>
                        <th class="table_head col-sm-3 col-xs-3" style="text-align:center">Start</th>
                        <th class="table_head col-sm-3 col-xs-3" style="text-align:center">End</th>
                    </tr>
                    <tr ng-repeat="session in sessions">
                        <td class="table_data">{{session.DateStart | date: 'yyyy-MM-dd'}}</td>
                        <td class="table_data" style="text-align:center">{{session.DateStart | date: 'HH:mm'}}</td>
                        <td class="table_data" style="text-align:center">{{session.DateEnd | date: 'HH:mm'}}</td>

                    </tr>

                </table>

            </div>

            <div id="popup_exam" dx-popup="popup_exam" class="no-padding">
                <div id="scroll_checklist" dx-scroll-view="scroll_checklist" style="padding: 5px">
                    <div class="section">
                        <div style="font-size: 13px; font-weight: bold"><i class="fas fa-info-circle" style="font-size: 13px"></i> Exam Details</div>
                        <div class="container">
                            <div class="trn_card">
                                <div style="font-size: 13px; font-weight: bold"><i class="fas fa-book"></i> Course Title</div>
                                <p>HF</p>
                            </div>
                            <div class="trn_card">
                                <div style="font-size: 13px; font-weight: bold"><i class="fas fa-id-badge"></i> Class ID</div>
                                <p>CLS-33884</p>
                            </div>
                            <div class="trn_card">
                                <div style="font-size: 13px; font-weight: bold"><i class="fas fa-calendar-alt"></i> Exam Date</div>
                                <p>19.10.2023</p>
                            </div>
                            <div class="trn_card">
                                <div style="font-size: 13px; font-weight: bold"><i class="fas fa-clock"></i> Course Duration</div>
                                <p>8 hrs</p>
                            </div>
                        </div>
                    </div>

                    <!-- Attendance Section -->
                    <div class="attendance-section">
                        
                        <!-- trn_card layout for mobile devices -->
                        <div class="attendance-container" ng-if="!isLargeScreen()">
                            <div class="attendance_trn_card" style=" border: 1px solid #ffcc00;" ng-repeat="trainee in exam.scores">
                                <div style="align-content: center; font-size: 13px; font-weight: bold; padding-left: 8px; height: 38px; border-radius: 8px 8px 0 0; background-color: #FF5722; color: #fff">{{trainee.Name}}</div>
                                <div class="trn_card-details">
                                    <input type="text" placeholder="Score" ng-model="trainee.score" ng-change="updateScore(trainee.persin_id, trainee.Score, trainee.Result)" style="width: 97%; border: 1px solid lightgray;margin: 5px; border-radius: 8px; height: 35px">
                                    <div class="final-result-buttons">
                                        <button class="final-result-button pass" ng-class="{'active': trainee.result === 'Pass'}" ng-click="updateFinalResult(trainee.Id, 'Pass')">Pass</button>
                                        <button class="final-result-button failed" ng-class="{'active': trainee.result === 'Failed'}" ng-click="updateFinalResult(trainee.Id, 'Failed')">Failed</button>
                                        <button class="final-result-button reexam" ng-class="{'active': trainee.result === 'Re-exam'}" ng-click="updateFinalResult(trainee.Id, 'Re-exam')">Re-exam</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Table layout for larger screens -->
                        <table class="attendance-table" ng-if="isLargeScreen()">
                            <thead>
                                <tr>
                                    <th class="col-lg-7 col-md-7" style="text-align:left">Name</th>
                                    <th class="col-lg-1 col-md-1">Score</th>
                                    <th class="col-lg-4 col-md-4">Final Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="trainee in exam.scores">
                                    <td style="text-align:left">{{trainee.Name}}</td>
                                    <td> <input type="text" placeholder="Score" ng-model="trainee.score" ng-change="updateScore(trainee.persin_id, trainee.Score, trainee.Result)" style="width: 97%; border: 1px solid lightgray;margin: 5px; border-radius: 8px; height: 35px;text-align:center"></td>
                                    <td>
                                        <div class="final-result-buttons">
                                            <button class="final-result-button pass" ng-class="{'active': trainee.result === 'Pass'}" ng-click="updateFinalResult(trainee.Id, 'Pass')">Pass</button>
                                            <button class="final-result-button failed" ng-class="{'active': trainee.result === 'Failed'}" ng-click="updateFinalResult(trainee.Id, 'Failed')">Failed</button>
                                            <button class="final-result-button reexam" ng-class="{'active': trainee.result === 'Re-exam'}" ng-click="updateFinalResult(trainee.Id, 'Re-exam')">Re-exam</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="popup_attendance" dx-popup="popup_attendance" class="no-padding">
                <div id="scroll_checklist" dx-scroll-view="scroll_checklist" style="padding: 5px">
                    <!-- Attendance Sections -->
                    <div class="attend_section" ng-repeat="session in sessions_attend">
                        <div ng-click="toggle_attendance_details(session.Id)" style="align-content: center;font-size: 13px; font-weight: bold; padding-left: 8px; height: 38px; border-radius: 8px 8px 0 0" ng-style="{'background-color': session.showDetails ? '#FF5722' : '#fff', 'color': session.showDetails ? '#fff' : '#000'}" ng-if="!isLargeScreen()">{{session.DateStart | date: 'yyyy-MM-dd'}}  {{session.DateStart | date: 'HH:mm'}}</div>

                        <!-- Desktop Table -->
                        <table class="attend_attendance_table">
                            <thead>
                                <tr>
                                    <th>National Code</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Presence</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="person in session.people">
                                    <td>{{person.NID}}</td>
                                    <td>{{person.Name}}</td>
                                    <td>{{person.Departman}}</td>
                                    <td><input ng-click='on_status_changed(session.Id, session.Key, session.CourseId, person.PersonId)' ng-model="person.press" ng-true-value="1" ng-false-value="0" style="margin: 0px !important" type="checkbox"></td>
                                    <td>{{person.remark}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Mobile List -->
                        <div class="attendance-container" ng-show="session.showDetails" ng-if="!isLargeScreen()">
                            <div class="attendance_trn_card" ng-repeat="person in session.people">
                                <div class="trn_card-details" style="border-bottom: 1px solid lightgray;align-content:center">
                                    <div class="col-sm-9 col-xs-9" style="display:inline-block; text-align: left; font-size: 13px">{{person.Name}}</div>
                                    <div class="col-sm-3 col-xs-3" style="display:inline-block; text-align: right"><input ng-click='on_status_changed(session.Id, session.Key, session.CourseId, person.PersonId)' ng-model="person.press" ng-true-value="1" ng-false-value="0" style="margin: 0px !important" type="checkbox"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rowx footer app-footer" ng-include="'app/views/footer.html?v=2036'" ng-init="type = 'trn-instructor-course';" style="padding:0;flex:0 0 45px"></div>
    </div>



    <div dx-load-panel="loadPanel"></div>
</div>
