<div ng-controller="drAddController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <!--<div style="padding:5px;">-->

        <div id="scroll_dradd" dx-scroll-view="scroll_dradd" style="margin-top:5px">
            <table style="margin-top:10px;border:1px solid black;width:100%;color:black" class="dx-border">
                <tr>
                    <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                        ITEM
                    </td>
                    <td style="background-color:lightgray;padding:7px;text-align:center;color:black;font-weight:bold">
                        B
                    </td>
                    <td style="background-color:lightgray;padding:7px;text-align:center;color:black;font-weight:bold">
                        D
                    </td>
                    <td style="background-color:lightgray;padding:7px;text-align:center;color:black;font-weight:bold">
                        C
                    </td>
                    <td colspan="2" style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                        REMARKS
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="height: 45px; border-bottom: dashed 1px black; color: black; padding-left: 10px; font-weight: bold ">
                        Minimum Required Flight Documents
                    </td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">Acceptable Deferred Defect Record (ADDR) (see note4)</td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"><div class="center" dx-check-box="chb_GoodDeclarationCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_ActualWXCPTRemark"></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">ATS Flight Plan</td>

                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_GoodDeclarationDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_ATCFlightPlanDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_ATCFlightPlanCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_ATCFlightPlanCPTRemark"></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">Operation Flight Plan (OFP)</td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_FlightSafetyReportDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_ComputedFligthPlanDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_ComputedFligthPlanCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_ComputedFligthPlanCPTRemark"></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">Over Fly Permission (If required) </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_FlightSafetyReportCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_PermissionsDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_PermissionsCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_PermissionsCPTRemark"></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">METAR <div class="center" style="margin: 0 5px 0 5px;" dx-check-box="chb_TOLndCardsDSP"></div>  TAF  <div style="margin: 0 5px 0 5px;" class="center" dx-check-box="chb_TOLndCardsCPT"></div> (DEP/ENR/ALT/DES) </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_ActualWXDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_WXForcastDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_WXForcastCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_WXForcastCPTRemark"></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">
                        Significant Chart <div style="margin: 0 5px 0 5px;" class="center" dx-check-box="chb_WindChartCPT"></div>  Wind Chart <div style="margin: 0 5px 0 5px;" class="center" dx-check-box="chb_WindChartDSP"></div>
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_ActualWXCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_SigxWXDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_SigxWXCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_SigxWXCPTRemark"></div></td>

                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">NOTAMs (DEP/ENR/ALT/DES)</td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_OperationEngineeringDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_NotamDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_NotamCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_NotamCPTRemark"></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">General Declaration (GD)</td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_OperationEngineeringCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_GeneralDeclarationDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_GeneralDeclarationCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_GeneralDeclarationCPTRemark"></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">Airway Manual (JEPPESEN) <div style="margin: 0 5px 0 5px;" class="center" dx-check-box="chb_JeppesenAirwayManualDSP"></div> IPAD <div style="margin: 0 5px 0 5px;" class="center" dx-check-box="chb_IPADDSP"></div> </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_VoyageReportDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_JeppesenAirwayManualCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_JeppesenAirwayManualCPTRemark"></div></td>
                </tr>

                <tr>
                    <td colspan="5" style="height: 45px; border-bottom: dashed 1px black; border-top: dashed 1px black; color: black; padding-left: 10px; font-weight: bold ">
                        Special Documents and Forms
                    </td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">Load and Trim Sheet + Trip Info </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"><div class="center" dx-check-box="chb_LoadSheetDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"><div class="center" dx-check-box="chb_LoadSheetCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_LoadSheetCPTRemark"></div></td>
                </tr>

                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">Journey Log Form </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_AVSECIncidentReportDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_AVSECIncidentReportCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_AVSECIncidentReportCPTRemark"></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">
                        Air Safety Report Form
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_FlightReportDSP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-check-box="chb_FlightReportCPT"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px" colspan="2"> <div dx-text-box="txt_FlightReportCPTRemark"></div></td>
                </tr>
            </table>
            <table style="margin-top:10px;border:1px solid black;width:100%;color:black" class="dx-border">
                <tr>
                    <td colspan="5" style="height: 45px; border-bottom: dashed 1px black; border-top: dashed 1px black; color: black; padding-left: 10px; font-weight: bold ">
                        Additional Fuel Information
                    </td>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">
                        Min Req Fuel:
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-number-box="txt_MinFuelRequiredCFP"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">
                        OPS FPL Fuel(Total):
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-number-box=""></div></td>
                </tr>
                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">
                        CPT Request Fuel(Total):
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-number-box="txt_MinFuelRequiredPilotReq"></div></td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">
                        Reason:
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-text-box="txt_OperationEngineeringCPTRemark"></div></td>
                </tr>

                <tr style="border-bottom:0px dotted black;text-align:center">
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">
                        Briefing has been carried out
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px">
                        <div class="center" dx-select-box="sb_briefing"></div>
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"></td>
                    <td style="padding-left:7px;border-right:0px dotted black;padding-top:12px;text-align:left">
                        Time:
                    </td>
                    <td style="padding: 5px; padding-right: 15px; padding-top: 12px"> <div class="center" dx-text-box=""></div></td>
                </tr>

            </table>

            <div style="clear:both"></div>
            <table style="width:100%;margin-top:10px;border:1px solid #eee;">
                <tr>
                    <td style="padding:10px;border-bottom:1px solid #ccc;text-align:center" colspan="3">
                        <div style="text-align:center;font-size:14px;padding:0px;">The document signed and approved by</div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px;border-bottom:1px solid #ccc;text-align:center;background:#eee" colspan="3">
                        <div style="text-align:center;font-size:14px;padding:0px;">Dispather</div>
                    </td>
                </tr>
                <tr style='border-bottom:1px solid #ccc'>
                    <td style="width:25%;"></td>
                    <td style="width:50%; text-align:center;padding:10px">

                        <div ng-show="url_sign4" style="text-align:center;font-size:16px;padding:5px;">{{entity.SGNDSPName}}</div>
                        <div ng-show="url_sign4" style="text-align:center;font-size:16px;padding:5px;">{{entity.SgnDSPLicNo}}</div>
                        <div ng-show="url_sign4" style="text-align:center;font-size:16px;padding:5px;">{{signDate4}}</div>
                        <!--<img style="height:auto;display: block; width: 50%;margin:0 auto 0 auto" ng-show="url_sign4" ng-src="{{url_sign4}}" />-->
                    </td>
                    <td style="width:25%;"></td>
                </tr>
                <tr>
                    <td style="padding:10px;border-bottom:1px solid #ccc;text-align:center;background:#eee" colspan="3">
                        <div style="text-align:center;font-size:14px;padding:0px;">PIC</div>
                    </td>
                </tr>
                <tr>
                    <td style="width:25%;"></td>
                    <td style="width:50%; text-align:center;padding:10px">

                        <div style="text-align:center;font-size:16px;padding:5px;">{{entity.PIC}}</div>

                        <div style="text-align:center;font-size:16px;padding:5px;">{{signDatePIC}}</div>
                        <!--<img style="height:auto;display: block; width: 50%;margin:0 auto 0 auto" ng-show="url_sign4" ng-src="{{url_sign4}}" />-->
                    </td>
                    <td style="width:25%;"></td>
                </tr>
            </table>
        </div>
        <div style="clear:both"></div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>
