<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>

    <add key="period" value="15"/>

    <add key="url_metar" value="https://fleet.caspianairlines.com/skybagservice/api/weather/metar/adds/all"/>
    <add key="url_taf" value="https://fleet.caspianairlines.com/skybagservice/api/weather/taf/adds/all"/>
    <add key="url_notam" value="https://fleet.caspianairlines.com/skybagservice/api/airport/notam/all"/>
	  
     <add key="url_metar_taban" value="https://apiv1.sbvaresh.ir/api/weather/metar/adds/all"/>
    <add key="url_taf_taban" value="https://apiv1.sbvaresh.ir/api/weather/taf/adds/all"/>
    <add key="url_notam_taban" value="https://apiv1.sbvaresh.ir/api/airport/notam/all"/>


	  <add key="url_metar_varesh" value="https://corewx.apvaresh.com/api/weather/metar/adds/all"/>
	  <add key="url_taf_varesh" value="https://corewx.apvaresh.com/api/weather/taf/adds/all"/>
	  <add key="url_notam_varesh" value="https://corewx.apvaresh.com/api/weather/notam/all"/>


    <add key="url_metar_fly" value="https://fb.flypersia.aero/weather/api/weather/metar/adds/all"/>
    <add key="url_taf_fly" value="https://fb.flypersia.aero/weather/api/weather/taf/adds/all"/>
    <add key="url_notam_fly" value="https://fb.flypersia.aero/weather/api/airport/notam/all"/>
    
  
  <add key="url_metar_chb" value="https://fb.flypersia.aero/weather/api/weather/metar/adds/all"/>
    <add key="url_taf_chb" value="https://fb.flypersia.aero/weather/api/weather/taf/adds/all"/>
    <add key="url_notam_chb" value="https://fb.flypersia.aero/weather/api/airport/notam/all"/>
   
  </appSettings>
</configuration>
