<style>
    #dg_fixtime .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_fixtime .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_fixtime .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_fixtime .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_fixtime .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_fixtime .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_fixtime .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_fixtime .dx-icon.dx-icon-export-excel-button {
        color: white;
    }
</style>

<div class="box fixTimeSumary" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>

    <div class="rowx content" style="clear:both">
        <div dx-data-grid="dg_fixtime" id="dg_fixtime"></div>
     
    </div>
    <div class="rowx footer">
        <table style="margin:0;padding:0;">
            <tr>
                <td style="width:140px;text-align:right;padding-right:5px" class="dx-border"><div class="center" style="background:white;font-family:tahoma" dx-select-box="sb_pyear"></div></td>
                <td style="width:140px;text-align:right;padding-right:5px" class="dx-border"><div class="center" style="background:white;font-family:tahoma" dx-select-box="sb_period"></div></td>
                <td style="width:140px;text-align:right;padding-right:5px" class="dx-border"><div class="center" style="background:white;font-family:tahoma" dx-select-box="sb_rank"></div></td>
                <td style="width:140px;text-align:right;padding-right:5px" class="dx-border"><div class="center" style="background:white;font-family:tahoma" dx-select-box="sb_acType"></div></td>
                <td style="width:120px;text-align:right;padding-right:5px" class="dx-border"><div dx-button="btn_search"></div></td>

            </tr>
        </table>
    </div>



    <div dx-load-panel="loadPanel"></div>
</div>


