<div ng-controller="newPartNumberController">
    <div id="popup_pn" dx-popup="popup_pn" class="no-padding" style='padding:0 !important;'>
        <div style="width: 100%">
            <div>
                <div class="col-lg-8 col-md-8" style="padding: 5px; height: 100%; border: 1px solid lightgray">
                    <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc">Part Number Information</div>
                    <table style="margin-top:10px;color:black;width:100%" class="dx-border">
                        <tr>
                            <td class="td-field" style="font-weight:bold; width:100px">ATA:</td>
                            <td class="td-field"><div dx-select-box="sb_ata" class="center" style="width: 100%"></div></td>

                            <td class="td-field" style="font-weight: bold; width: 100px">Part Number:</td>
                            <td class="td-field" colspan="3"><div dx-text-box="txt_pn" class="center"></div></td>
                        </tr>
                        <tr>
                            <td class="td-field" style="font-weight:bold; width:100px">Figure No. :</td>
                            <td class="td-field"><div dx-text-box="txt_figNo" class="center" style="width: 100%"></div></td>

                            <td class="td-field" style="font-weight: bold; width: 100px">Part Number:</td>
                            <td class="td-field"><div dx-text-box="txt_partNumber" class="center"></div></td>

                            <td class="td-field" style="font-weight: bold; width: 100px">Item NO. :</td>
                            <td class="td-field"><div dx-text-box="txt_itemNo" class="center"></div></td>
                        </tr>
                        <tr>
                            <td class="td-field" colspan="2"><div dx-select-box="sb_ata" class="center" style="width: 100%"></div></td>

                            <td class="td-field" style="font-weight: bold; width: 100px">Description</td>
                            <td class="td-field" colspan="3"><div dx-text-box="txt_desc" class="center"></div></td>
                        </tr>
                        <tr>
                            <td class="td-field" colspan="2"><div dx-select-box="sb_ata" class="center" style="width: 100%"></div></td>

                            <td class="td-field" style="font-weight: bold; width: 100px">UOM:</td>
                            <td class="td-field"><div dx-text-box="txt_uom" class="center"></div></td>

                            <td class="td-field" style="font-weight: bold; width: 100px">Code:</td>
                            <td class="td-field"><div dx-text-box="txt_code" class="center"></div></td>
                        </tr>
                        <tr>

                            <td class="td-field" style="font-weight: bold; width: 100px">Remark:</td>
                            <td class="td-field" colspan="5"><div dx-text-box="txt_code" class="center"></div></td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-4 col-md-4" style="padding: 5px;border: 1px solid lightgray ">
                    <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc">Effectivity</div>
                    <table style="width: 100%; color: black; border: 1px solid #ccc; " class="dx-border">
                       
                    </table>
                </div>

            </div>



            </div>
    </div>
</div>