<div ng-controller="PartNumberController">
    <div id="popup_personnel" dx-popup="popup_personnel" class="no-padding" style='padding:0 !important;'>
        <div style="width: 100%">
            <div style="width: 100%; border: 1px solid #ccc">
                <div class="td-title" style="width: 100%">Filter Panel</div>
                <table style="margin-top:10px;color:black" class="dx-border">
                    <tr>
                        <td class="td-field" style="font-weight:bold">ATA:</td>
                        <td class="td-field"><div dx-select-box="sb_ata" class="center" style="width: 100%"></div></td>

                        <td class="td-field" style="font-weight:bold">Description:</td>
                        <td class="td-field"><div dx-text-box="txt_desc" class="center"></div></td>

                        <td class="td-field" style="font-weight:bold">P/N:</td>
                        <td class="td-field"><div dx-text-box="txt_pn" class="center"></div></td>

                        <td style="padding: 5px"><div dx-button="btn_refresh"></div></td>
                    </tr>


                </table>
            </div>



            <div dx-data-grid="dg_pn" id="dg_pn" class="content" style="overflow-y:hidden;margin-top: 5px" dx-item-alias="row"></div>
            <!--<div dx-data-grid="dg_inter" id="dg_inter" class="content" style="overflow-y:hidden;margin-top: 5px" dx-item-alias="row"></div>-->
        </div>
    </div>
</div>