

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-fileuploader-files-container {
        display: none;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-popup-content {
        padding: 0 !important;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_regroute .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_regroute .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_reg .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_reg .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    #dg_route .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_route .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_route .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_route .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    .dx-tab {
        background-color: lightgray !important;
    }

    .tile_selected {
        background: #ffb3cc !important;
    }

    .dx-texteditor-input {
        text-align: center
    }

    .td-field {
        padding: 7px;
        text-align: left
    }

    .td-title {
        background-color: whitesmoke;
        padding: 7px;
        text-align: left;
        color: black;
        font-weight: bold
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div ng-controller="receiptController">
    <div id="popup_pn" dx-popup="popup_pn" class="no-padding" style='padding:0 !important;'>
        <div style="width: 100%; border: 1px solid #ccc">
            <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc">Paper</div>
            <table style="margin-top:10px;color:black" class="dx-border">
                <tr>
                    <td class="td-field" style="font-weight:bold; width:100px">Date:</td>
                    <td class="td-field"><div dx-date-box="dt_paperDate" class="center" style="width: 100%"></div></td>

                    <td class="td-field" style="font-weight: bold; width: 100px">Stock:</td>
                    <td class="td-field"><div dx-select-box="sb_stock" class="center"></div></td>

                    <td class="td-field" style="font-weight: bold; width: 100px">No. :</td>
                    <td class="td-field"><div dx-text-box="txt_paperNo" class="center" style="width:100%"></div></td>

                    <td class="td-field" style="font-weight: bold; width: 100px">Remark:</td>
                    <td class="td-field"><div dx-text-box="txt_paperRemark" class="center" style="width:100%"></div></td>
                </tr>
            </table>
        </div>

        <div style="display:none">
            <div class="col-lg-3 col-md-3" style="padding:5px;height:100%">
                <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc">Account Type</div>
                <table style="width: 100%; height:82% ;color: black; border: 1px solid #ccc; " class="dx-border">
                    <tr>
                        <td class="td-field" style="font-weight:bold; width:200px">PO:</td>
                        <td class="td-field"><div dx-check-box="ch_po" class="center" style="width: 100%"></div></td>
                    </tr>
                    <tr>
                        <td class="td-field" style="font-weight:bold; width:200px">Removed From a Register:</td>
                        <td class="td-field"><div dx-check-box="ch_rmvRegister" class="center" style="width: 100%"></div></td>
                    </tr>
                    <tr>
                        <td class="td-field" style="font-weight:bold; width:200px">Removed From an Assy:</td>
                        <td class="td-field"><div dx-check-box="ch_rmvAssy" class="center" style="width: 100%"></div></td>
                    </tr>
                    <tr>
                        <td class="td-field" style="font-weight:bold; width:200px">Direct Charge:</td>
                        <td class="td-field"><div dx-check-box="ch_charge" class="center" style="width: 100%"></div></td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-6 col-md-6" style="padding: 5px ">
                <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc">PO Information</div>
                <table style="width: 100%; color: black; border: 1px solid #ccc; " class="dx-border">
                    <tr>
                        <td class="td-field" style="font-weight:bold; width:100px">No. :</td>
                        <td class="td-field"><div dx-text-box="txt_poNo" class="center" style="width: 100%"></div></td>

                        <td class="td-field" style="font-weight: bold; width: 100px">Stock:</td>
                        <td class="td-field"><div dx-select-box="sb_poCompany" class="center"></div></td>
                    </tr>
                    <tr>
                        <td class="td-field" style="font-weight: bold; width: 100px">Date:</td>
                        <td class="td-field"><div dx-date-box="dt_poDate" class="center" style="width:100%"></div></td>

                        <td class="td-field" style="font-weight: bold; width: 100px">AWB:</td>
                        <td class="td-field"><div dx-text-box="txt_awb" style="display: inline-block; width:80%"></div><div dx-button="awbButton" style="width:20%; display: inline-block;margin-top: -30px"></div></td>
                    </tr>
                    <tr>
                        <td class="td-field" style="font-weight: bold; width: 100px">Invoice:</td>
                        <td class="td-field"><div dx-text-box="txt_invoice" class="center" style="width:100%"></div></td>

                        <td class="td-field" style="font-weight: bold; width: 100px">Invoice Date:</td>
                        <td class="td-field"><div dx-date-box="dt_invoice" class="center" style="width:100%"></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-3 col-md-3" style="padding: 5px ">
                <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc">Removed From a Register</div>
                <table style="width: 100%; color: black; border: 1px solid #ccc; " class="dx-border">
                    <tr>
                        <td class="td-field" style="font-weight:bold; width:100px">Register:</td>
                        <td class="td-field"><div dx-select-box="sb_rmvRegister" class="center" style="width: 100%"></div></td>
                    </tr>
                </table>

                <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc;margin-top: 15px">Removed From a Assy</div>
                <table style="width: 100%; color: black; border: 1px solid #ccc; " class="dx-border">
                    <tr>
                        <td class="td-field" style="font-weight:bold; width:100px">Assy:</td>
                        <td class="td-field"><div dx-select-box="sb_rmvAssy" class="center" style="width: 100%"></div></td>
                    </tr>
                </table>
            </div>
        </div>
        <div sstyle="border: 1px solid #ccc">
            <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc">Items</div>
            <table style="color: black" class="dx-border">
                <tr>
                    <td class="td-field" style="font-weight:bold; width:100px">Part No. :</td>
                    <td class="td-field" style="width:235px"><div dx-text-box="txt_itemPnNo" style="width: 67%; display: inline-block"></div><div dx-button="pnButton" style="width:10%; display: inline-block;margin-top: -30px"></div><div dx-button="newPn" style="width:10%; display: inline-block;margin-top: -30px"></div></td>

                    <td class="td-field" style="font-weight: bold; width: 100px">Description:</td>
                    <td class="td-field" style="width:235px"><div dx-text-box="txt_itemDesc" class="center"></div></td>

                    <td class="td-field" style="font-weight: bold; width: 100px">SN/BN:</td>
                    <td class="td-field" style="width:235px"><div dx-text-box="txt_itemSnbn" class="center"></div></td>

                </tr>
                <tr>
                    <td class="td-field" style="font-weight:bold; width:100px">Quantity:</td>
                    <td class="td-field"><div dx-number-box="txt_itemQuantity" class="center" style="width: 100%"></div></td>

                    <td class="td-field" style="font-weight:bold; width:100px"> Unit:</td>
                    <td class="td-field"><div dx-select-box="sb_itemUnit" class="center" style="width: 100%"></div></td>

                    <td class="td-field" style="font-weight: bold; width: 100px">Shelf:</td>
                    <td class="td-field"><div dx-text-box="txt_itemShelf" class="center"></div></td>

                    <td class="td-field" style="font-weight:bold; width:100px">Condition:</td>
                    <td class="td-field" style="width:235px"><div dx-select-box="sb_itemCondition" class="center" style="width: 100%"></div></td>

                    <!--<td class="td-field" style="font-weight: bold; width: 100px">ID:</td>
                    <td class="td-field"><div dx-text-box="txt_itemId" class="center"></div></td>-->
                </tr>
                <tr>
                    <td class="td-field" style="font-weight:bold; width:100px">Man.Date:</td>
                    <td class="td-field"><div dx-date-box="dt_itemDate" class="center" style="width: 100%"></div></td>

                    <td class="td-field" style="font-weight:bold; width:100px"> Exp. :</td>
                    <td class="td-field"><div dx-date-box="dt_itemExp" class="center" style="width: 100%"></div></td>

                    <td class="td-field" style="font-weight: bold; width: 100px">Price:</td>
                    <td class="td-field"><div dx-number-box="txt_itemPrice" class="center"></div></td>

                    <td class="td-field" style="font-weight:bold; width:100px">Currency:</td>
                    <td class="td-field" style="width:235px"><div dx-select-box="sb_itemCurrency" class="center" style="width: 100%"></div></td>
                </tr>
                <tr>
                    <td class="td-field" style="font-weight: bold; width: 100px">Doc. Type:</td>
                    <td class="td-field"><div dx-select-box="sb_itemDoc" class="center"></div></td>

                    <td class="td-field" style="font-weight: bold; width: 100px">No. :</td>
                    <td class="td-field"><div dx-text-box="txt_itemNo" class="center"></div></td>

                </tr>
                <tr>
                    <td class="td-field" style="font-weight: bold; width: 100px">Remark:</td>
                    <td class="td-field" colspan="5"><div dx-text-box="txt_itemRemark" class="center"></div></td>

                    <!-- <td class="td-field"><div dx-button="btn_addNew" class="center"></div></td>-->
                    <td class="td-field"><div dx-button="btn_add" class="center"></div></td>
                    <!--<td class="td-field"><div dx-button="btn_delete" class="center"></div></td>-->

                </tr>
            </table>
        </div>
        <div style="margin-top:5px">
            <div dx-data-grid="dg_rec" id="dg_rec" class="content" style="overflow-y:hidden" dx-item-alias="row">
                <div data-options="dxTemplate:{ name:'delete' }">
                    <a ng-click="Delete(row)" href="" class='w3-button w3-block w3-red' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Delete</a>
                </div>
            </div>
        </div>

    </div>
    <div ng-include="'app/views/partNumberSelection.html'"></div>
    <div ng-include="'app/views/newPartNumber.html'"></div>
    <div style="clear:both"></div>

    <div dx-load-panel="loadPanel"></div>
</div>

    
       
