<div ng-controller="tripInfoController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div id="scroll_tiadd" dx-scroll-view="scroll_dradd" style="margin-top:5px">
            <table>
                <tr>
                    <td>
                        Flight No.:
                    </td>
                    <td>
                        Route:
                    </td>
                    <td>
                        Reg.:
                    </td>
                    <td>
                        Aircraft Type:
                    </td>
                </tr>
                <tr>
                    <td>
                        Crew Version
                    </td>
                    <td>
                    </td>
                    <td>
                        Flight Type
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Flight Security (FSO)
                    </td>
                    <td>
                    </td>
                    <td>
                        Runway
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Additional Crew
                    </td>
                    <td>
                    </td>
                    <td>
                        Runway Conditios
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Max Take Off Weight
                    </td>
                    <td>
                    </td>
                    <td>
                        DOW
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ramp Fuel
                    </td>
                    <td>
                    </td>
                    <td>
                        Pantry Code
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Take Off Fuel
                    </td>
                    <td>
                    </td>
                    <td>
                        Dry Operating Weight
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Trip Fuel
                    </td>
                    <td>
                    </td>
                    <td>
                        Dry Operating Index
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Dispatcher
                    </td>
                    <td>
                    </td>
                    <td>
                        Captain
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>

        <div style="clear:both"></div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>
