

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-fileuploader-files-container {
        display: none;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-popup-content {
        padding: 0 !important;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_regroute .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_regroute .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_reg .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_reg .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    #dg_route .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_route .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_route .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_route .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    .dx-tab {
        background-color: lightgray !important;
    }

    .tile_selected {
        background: #ffb3cc !important;
    }

    .dx-texteditor-input {
        text-align: center
    }

    .td-title {
        background-color: whitesmoke;
        padding: 7px;
        text-align: left;
        color: black;
        font-weight: bold
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="box " style="height:100%;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div class="rowx content" style="clear:both">

        <div class="col-lg-12" style="border: 1px solid #ccc;padding:10px">
            <div class="dx-border">


                <div class="col-lg-2 padding-0">
                    <span>Date</span>
                    <div dx-date-box="dt_date" class="center" style="width: 100%;margin-top:5px;margin-bottom:5px"></div>

                    <span>No</span>
                    <div dx-text-box="txt_no" class="center" style="width: 100%"></div>

                </div>
                <div class="col-lg-2 padding-0" style="padding-left:10px">
                    <span>A/C Type</span>

                    <div dx-select-box="sb_acType" class="left" style="width: 100%;margin-top:5px;margin-bottom:5px " dx-validator="{validationGroup:'deladd',  validationRules: [{ type: 'required'}]}"></div>
                    <span>Register</span>
                    <div dx-select-box="sb_register" class="left" dx-validator="{validationGroup:'deladd',  validationRules: [{ type: 'required'}]}"></div>

                </div>

                <div class="col-lg-2 padding-0" style="padding-left:10px">
                    <span>Warehouse</span>

                    <div dx-select-box="sb_warehouse" class="left" style="width: 100%;margin-top:5px;margin-bottom:5px"></div>
                    <span>Issued By</span>
                    <div dx-text-box="txt_issuedBy" class="left" style="width: 100%"></div>

                </div>
                <div class="col-lg-2 padding-0" style="padding-left:10px">
                    <span>Receiver</span>
                    <table style="width:100%;margin-top:5px;margin-bottom:5px">
                        <tr>
                            <td>
                                <div dx-text-box="txt_receiver" class="left" style="width: 100%" dx-validator="{validationGroup:'deladd',  validationRules: [{ type: 'required'}]}"></div>
                            </td>
                            <td style="width:10%"><div dx-button="btn_receiver"></div></td>
                        </tr>

                    </table>

                    <span>Location</span>
                    <div dx-text-box="txt_receiver_location" class="left" style="width: 100%"></div>




                </div>


                <div style="clear:both"></div>
            </div>



        </div>

        <div class="col-lg-12">
            <div dx-data-grid="dg_del" id="dg_del" class="content" style="overflow-y:hidden;margin-top: 5px" dx-item-alias="row"></div>
        </div>
        <div dx-load-panel="loadPanel"></div>
    </div>
    <div class="rowx footer">
        <div class=" col-lg-8 col-md-11 col-sm-11 col-xs-11" style="padding:0">
            <table style="width:100%;margin:0;padding:0;">
                <tr>
                 
                 <!--   <td style="text-align: left" dx-button="btn_submit"></td>-->
                    <td></td>
                </tr>
            </table>


        </div>

        <div style="clear:both"></div>
    </div>
</div>
