<div ng-controller="vira_part_number_addController">
    <div id="popup_personnel" dx-popup="popup_personnel" class="no-padding" style='padding:0 !important;'>
        <div class="col-lg-10 col-md-10 col-sm-10">

            <div style="width: 100%; border: 1px solid #ccc;padding:10px 0 10px 0; margin-top:5px" class="dx-border">
                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <!--<td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                        Category:
                    </td>-->
                            <td>
                                <div dx-select-box="sb_comp" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>

                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                Asset Type:
                            </td>
                            <td>
                                <div dx-select-box="sb_asset" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>

                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                ATA:
                            </td>
                            <td>
                                <div dx-select-box="sb_ata" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%; border: 1px solid #ccc;padding:10px 0 10px 0; margin-top:5px" class="dx-border">
                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                IPC:
                            </td>
                            <td>
                                <div dx-text-box="txt_ipc" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>


                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                Figure No.:
                            </td>
                            <td>
                                <div dx-text-box="txt_figNo" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>


                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                Item No.:
                            </td>
                            <td>
                                <div dx-text-box="txt_itemNo" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>






                <div style="clear: both"></div>
            </div>

            <div style="width: 100%; border: 1px solid #ccc;padding:10px 0 10px 0; margin-top:5px" class="dx-border">
                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                Part Number:
                            </td>
                            <td>
                                <div dx-text-box="txt_pn" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>


                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                               Description:
                            </td>
                            <td>
                                <div dx-text-box="txt_txt_desc" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>


                <div class="col-lg-2 padding-0" style="padding-left:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                Item No.:
                            </td>
                            <td>
                                <div dx-text-box="txt_itemNo" class="center" style="width: 100%"></div>
                            </td>

                        </tr>
                    </table>
                </div>






                <div style="clear: both"></div>
            </div>


        </div>
    </div>
    <div dx-load-panel="loadPanel"></div>
</div>