

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-fileuploader-files-container {
        display: none;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-popup-content {
        padding: 0 !important;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_regroute .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_regroute .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_reg .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_reg .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    #dg_route .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_route .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_route .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_route .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    .dx-tab {
        background-color: lightgray !important;
    }

    .tile_selected {
        background: #ffb3cc !important;
    }

    .dx-texteditor-input {
        text-align: center
    }

    .td-title {
        background-color: whitesmoke;
        padding: 7px;
        text-align: left;
        color: black;
        font-weight: bold
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="box vira" style="height:100%;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div class="rowx content" style="clear:both">


        <div class="col-lg-4 col-md-3 padding-0" style="padding-right:5px;">
            <div style="border: 1px solid #ccc " class="dx-border">
                <div class="col-lg-12 padding-0" style="padding-left:0px;margin-top:0px;margin-bottom:7px">
                    <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:5px 5px 5px 7px">Filter</div>
                </div>
                <div class="col-lg-4 padding-0" style="margin-bottom: 5px">
                    <table style="width:100%">
                        <tr>
                            <td style="width:45px;font-size:12px;padding-left:5px;text-align:right;padding-right:2px;">
                                No.:
                            </td>
                            <td>
                                <div dx-text-box="txt_reqNo" class="center" style="width: 100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-4 padding-0" style="margin-bottom: 5px;padding-right:0px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width: 45px; font-size: 12px; padding-left: 5px; text-align: right;padding-right:2px; ">
                                Reg.:
                            </td>
                            <td>
                                <div dx-select-box="sb_register" class="center" style="width: 100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4 padding-0" style="margin-bottom: 5px;padding-right:10px;">
                    <table style="width:100%">
                        <tr>
                            <td style="width: 45px; font-size: 12px; padding-left:5px; text-align: right;padding-right:2px; ">
                                P/N:
                            </td>
                            <td>
                                <div dx-text-box="txt_partNo" class="center" style="width: 100%"></div>

                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-8 padding-0" style="margin-bottom: 5px">
                    <table style="width:100%">
                        <tr>
                            <td style="width: 45px; font-size: 12px; padding-left: 5px; text-align: right;padding-right:2px; ">
                                Desc.:
                            </td>
                            <td>
                                <div dx-text-box="txt_desc" class="center" style="width: 100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>



                <div class="col-lg-4 padding-0" style="margin-bottom: 5px">
                    <table style="width:100%">
                        <tr>
                            <td style="padding: 5px; text-align:right;padding-right:10px">
                                <div dx-button="btn_search"></div>
                            </td>
                        </tr>
                    </table>
                </div>


                <div style="clear: both"></div>

            </div>

            
            <!--<div class="td-title" style="width: 100%; margin-top: 5px; border: 1px solid #ccc ">Request Order</div>-->
            <div dx-data-grid="dg_req" id="dg_req" class="content" style="overflow-y:hidden" dx-item-alias="row"></div>

        </div>
        <div class="col-lg-8 col-md-9" style="padding-left: 0 !important">
            <div style="border: 1px solid #ccc " class="dx-border">
                <div class="col-lg-12 padding-0" style="padding-left:0px;margin-top:0px;margin-bottom:7px">
                    <div class="td-title" style="width: 100%; border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding:5px 5px 5px 7px">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:200px">Request Information</td>
                                <td>
                                </td>
                                <td style="padding-right:3px;width:60px;text-align:right;font-weight:normal">Date:</td>
                                <td style="font-weight:bold;width:90px;text-align:center">{{format_date(entity_info.date)}}</td>
                                <td style="padding-right:3px;width:60px;text-align:right;font-weight:normal">No.:</td>
                                <td style="font-weight:bold;width:130px;text-align:center">{{entity_info.no}}</td>

                            </tr>

                        </table>

                    </div>
                </div>
                <!--<div class="col-lg-3 padding-0" style="margin-bottom: 5px">
          <table style="width:100%">
              <tr>
                  <td style="width:100px;font-size:12px;padding-left:5px;text-align:left">
                      Req NO. :
                  </td>
                  <td>
                      <div dx-text-box="txt_req_info_no" class="center" style="width: 100%"></div>
                  </td>
              </tr>
          </table>
      </div>

    <div class="col-lg-3 padding-0" style="margin-bottom: 5px">
          <table style="width:100%">
              <tr>
                  <td style="width:100px;font-size:12px;padding-left:5px;text-align:left">
                      Date:
                  </td>
                  <td>
                      <div dx-date-box="dt_req_info_date" class="center" style="width: 100%"></div>
                  </td>
              </tr>
          </table>
      </div>-->

                <div class="col-lg-2 padding-0" style="margin-bottom: 5px">
                    <table style="width:100%">
                        <tr>
                            <td style="width:70px;font-size:12px;padding-right:5px;text-align:right">
                                A/C Type:
                            </td>
                            <td>
                                <div dx-text-box="txt_acType" class="center" style="width: 100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-2 padding-0" style="margin-bottom: 5px">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                Reg.:
                            </td>
                            <td>
                                <div dx-text-box="txt_reqReg" class="center" style="width: 100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--<div class="col-lg-2 padding-0" style="margin-bottom: 5px">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-left:5px;text-align:left">
                                Priority:
                            </td>
                            <td>
                                <div dx-text-box="txt_priority" class="center" style="width: 100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>-->
                <div class="col-lg-3 padding-0" style="margin-bottom: 5px">
                    <table style="width:100%">
                        <tr>
                            <td style="width:100px;font-size:12px;padding-right:5px;text-align:right">
                                Approved By:
                            </td>
                            <td>
                                <div dx-text-box="txt_apBy" class="center" style="width: 100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-5 padding-0" style="margin-bottom: 5px">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60px;font-size:12px;padding-right:5px;text-align:right">
                                Remark:
                            </td>
                            <td style="padding-right:5px;">
                                <div dx-text-box="txt_remark" class="left" style="width: 100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>





                <div style="clear: both"></div>
            </div>

            <div style="margin-top: 5px">
                <div class="col-lg-9 col-md-9 " style="padding: 0 5px 0 0  !important">
                    <div class="td-title" style="width: 100%; border: 1px solid #ccc ">Request Items</div>
                    <div dx-data-grid="dg_reqItem" id="dg_reqItem" class="content" style="overflow-y:hidden;width:100%" dx-item-alias="row">
                        <div data-options="dxTemplate:{ name:'nis' }">
                            <a ng-click="nis(row.data)" href="" class='w3-button   w3-grey' style='width:50px; color:white !important;background:#ff6600 !important;  text-decoration:none;padding:5px !important; text-align:center'>NIS</a>

                        </div>
                        <div data-options="dxTemplate:{ name:'do' }">
                            <a ng-click="do(row.data)" href="" class='w3-button   w3-grey' style='width:50px; color:white !important;background:#00cc99 !important;  text-decoration:none;padding:5px !important; text-align:center'>D/O</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 " style="padding: 0 5px 0 0 !important">
                    <div class="td-title" style="width: 100%; border: 1px solid #ccc">Interchanges</div>
                    <div dx-data-grid="dg_inter" id="dg_inter" class="content" style="overflow-y:hidden" dx-item-alias="row"></div>
                </div>
                <!--<div class="col-lg-3 col-md-3" style="padding: 0 !important">
                    <div class="td-title" style="width: 100%; border: 1px solid #ccc">Order Stocks</div>
                    <div dx-data-grid="dg_other" id="dg_other" class="content" style="overflow-y:hidden" dx-item-alias="row"></div>
                </div>-->
            </div>
            <div style="display: inline-flex; width: 100%;margin-top:5px">
                <div class="td-title" style="border: 1px solid #ccc; width: 100%">Delivery Order</div>
            </div>
            <div dx-data-grid="dg_delivery" id="dg_delivery" class="content" style="overflow-y:hidden" dx-item-alias="row"></div>


        </div>

        <div dx-load-panel="loadPanel"></div>
    </div>
    <div class="rowx footer">
        <div class=" col-lg-12 col-md-11 col-sm-11 col-xs-11" style="padding:0">
            <table style="width:100%; margin:0;padding:0;">
                <tr>
                     <td></td>
                    <td style="padding-right:5px;width:90px;text-align:right">Receiver:</td>
                    <td class="dx-border" style="text-align: right;padding-right: 5px;width:300px" >
                        <div dx-select-box="sb_receiver"></div>
                    </td>
                    <!-- <td class="dx-border" style="text-align: right; display: inline-block; padding-right: 5px " dx-select-box="sb_stock"></td>-->

                    <td style=" width:145px" > <div dx-button="btn_submit"></div></td>

                </tr>
            </table>


        </div>

        <div ng-include="'app/views/vira_nis_add.html?vx.2'"></div>
        <div ng-include="'app/views/inventory.html?vx.2'"></div>
        <div style="clear:both"></div>
    </div>
</div>
