<div ng-controller="vira_shipment_addController">
    <div id="popup_personnel" dx-popup="popup_personnel" class="no-padding" style='padding:0 !important;'>
        <div class="col-lg-12 col-md-12 col-sm-12 padding-0" style="padding: 10px 5px 0 5px">
            <div style=" border: 1px solid #ccc;">
                <div style="width: 100%;padding:10px 0 10px 0; margin-top:5px" class="dx-border">
                    <div class="col-lg-12 col-md-12 padding-0" style="padding: 0px 10px 0 10px;">
                        <table style="width:100%">
                            <tr>
                                <td style="width:80px;font-size:12px;padding-right:5px;text-align:right">
                                    Title:
                                </td>
                                <td>
                                    <div dx-text-box="txt_title" class="center" style="width: 100%"></div>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div class="col-lg-12 col-md-12 padding-0" style="padding: 10px 10px 0 10px;">
                        <table style="width:100%">
                            <tr>
                                <td style="width:80px;font-size:12px;padding-right:5px;text-align:right">
                                    Description:
                                </td>
                                <td>
                                    <div dx-text-box="txt_description" class="center" style="width: 100%"></div>
                                </td>

                            </tr>
                        </table>
                    </div>

                    
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>



    </div>
    <div dx-load-panel="loadPanel"></div>
</div>
