<style>
    #grid .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #grid .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #grid .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #grid .dx-icon.dx-icon-export-excel-button {
        color: white;
    }

    .datepicker-plot-area {
        box-sizing: border-box;
        overflow: hidden;
        min-height: 70px;
        display: block;
        width: 300px !important;
        min-width: 200px;
        padding: 10px !important;
        position: absolute;
        font: 12px tahoma;
        border: 1px solid #ccc;
        background-color: #fff;
    }

        .datepicker-plot-area .datepicker-day-view .table-days td span {
            display: block;
            width: 100%;
            height: 30px !important;
            line-height: 30px !important;
            padding: 0;
            margin: 0px;
        }
    .td-title {
        background-color: whitesmoke;
        padding: 7px;
        text-align: left;
        color: black;
        font-weight: bold
    }
</style>
<div class="box vira_inventory" style="height:100%;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>

    <div class="rowx content" style="clear:both">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col1 dx-border" style="padding-right: 0px; padding-left: 2px; padding: 10px 5px 0 5px" ng-style="{height: dg_height - 42 + 'px'}">
            <div style="border: 1px solid #ccc;">
                <div class="col-lg-12 padding-0" style="padding:10px">
                    <label>Location</label>
                    <div dx-select-box="sb_location" class="center" style="width: 100%"></div>
                </div>
                <div class="col-lg-12 padding-0" style="padding:10px">
                    <label>Part No.:</label>
                    <div>
                        <div dx-text-box="txt_partNo" class="center" style="width: 80%;display:inline-block"></div>
                        <div dx-button="btn_pn" style="bottom:15px"></div>
                    </div>
                </div>
                <div class="col-lg-12 padding-0" style="padding:10px">
                    <label>Description:</label>
                    <div dx-text-box="txt_description" style="width: 100%"></div>
                </div>
                <div class="col-lg-12 padding-0" style="padding:10px">
                    <label>A/C Type:</label>
                    <div dx-select-box="sb_acType" class="center"></div>
                </div>
                <div class="col-lg-12 padding-0" style="padding:10px">
                    <label>P/N Cat.:</label>
                    <div dx-select-box="sb_pnCategory" class="center"></div>
                </div>

                <div class="col-lg-12 padding-0" style="padding:10px">
                    <label>ATA:</label>
                    <div dx-select-box="sb_ata" class="center"></div>
                </div>
                <div class="col-lg-12 padding-0" style="padding:10px">
                    <div dx-button="btn_search"></div>
                </div>

                <div style="clear:both"></div>
            </div>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col1" style="padding: 0 5px 0 5px">
            <div dx-data-grid="dg_inv" id="dg_inv" class="content col-lg-10 col-md-10" style="overflow-y:hidden; padding-top:10px;display:inline-block" dx-item-alias="row"></div>
            <div class="content col-lg-2 col-md-2" style="display: inline-block;padding:10px 5px 0 5px" ng-style="{height: dg_height - 44 + 'px'}">
                <div class="td-title" style="width: 100%; background-color: #898e8c; color:white">Detail</div>
                <div style="border: 1px solid lightgray; padding:5px" ng-style="{height: dg_height - 44 + 'px'}">
                    <table style="margin-bottom:5px;color:black;background-color:#80e5ff;width:100%" class="dx-border" ng-repeat="x in ds_details">
                        <tr>
                            <td class="td-field" style="font-weight:normal">SN/BN</td>
                            <td class="td-field" style="font-weight:bold;text-align:center">{{x.sN_BN}}</td>
                        </tr>
                        <tr>
                            <td class="td-field" style="font-weight:normal">QTY</td>
                            <td class="td-field" style="font-weight:bold;text-align:center">{{x.availableQty}}</td>
                        </tr>
                        <tr>
                            <td class="td-field" style="font-weight:normal">Shelf</td>
                            <td class="td-field" style="font-weight:bold;text-align:center">{{x.shelf}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="rowx footer">
        <table style="width:100%;margin:0;padding:0;">
            <tr>

                <td style="width:120px; text-align:left;padding-right:5px"><div dx-button="btn_select"></div></td>

                <td></td>

            </tr>
        </table>
    </div>
    <div ng-include="'app/views/vira_part_number_selection.html'"></div>
    <div ng-include="'app/views/newPartNumber.html'"></div>
    <div ng-include="'app/views/vira_receipt.html'"></div>
    <!--<div ng-include="'app/views/vira_direct_delivery.html'"></div>-->
    <div dx-load-panel="loadPanel"></div>

</div>

