
<style>
    .dx-placeholder {
        margin-left: 5px !important
    }

    .td-field {
        padding: 7px;
        text-align: left
    }

    .td-title {
        background-color: whitesmoke;
        padding: 7px;
        text-align: left;
        color: black;
        font-weight: bold
    }
</style>
<div class="box finmonthreport" style="height:100%;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div class="rowx content" style="clear:both">
        <div style="width: 100%">
            <div style="width: 100%; border: 1px solid #ccc">
                <div class="td-title" style="width: 100%">Request</div>
                <table style="margin-top:10px;color:black" class="dx-border">
                    <tr>
                        <td class="td-field" style="font-weight:bold">Part No. :</td>
                        <td class="td-field"><div dx-text-box="txt_partNo" class="center" style="width: 100%"></div></td>

                        <td class="td-field" style="font-weight:bold">Description:</td>
                        <td class="td-field"><div dx-text-box="txt_description" class="center"></div></td>

                        <td class="td-field" style="font-weight:bold">Request Priority:</td>
                        <td class="td-field"><div dx-select-box="sb_reqPriority" class="center"></div></td>

                        <td class="td-field" style="font-weight:bold">Register:</td>
                        <td class="td-field"><div dx-select-box="sb_register" class="center"></div></td>

                        <td class="td-field" style="font-weight:bold">Year:</td>
                        <td class="td-field"><div dx-select-box="sb_year" class="center"></div></td>
                    </tr>

                    <tr>
                        <td class="td-field" style="font-weight:bold">NIS NO. :</td>
                        <td class="td-field"><div dx-text-box="txt_nisNo" class="center" style="width: 100%"></div></td>

                        <td class="td-field" style="font-weight:bold">Request No. :</td>
                        <td class="td-field"><div dx-text-box="txt_reqNo" class="center"></div></td>

                        <td class="td-field" style="font-weight:bold">Request Date From:</td>
                        <td class="td-field"><div dx-date-box="dt_dateFrom" class="center" style="width:100%"></div></td>

                        <td class="td-field" style="font-weight:bold">Date To:</td>
                        <td class="td-field"><div dx-date-box="dt_dateTo" class="center" style="width:100%"></div></td>

                        <td><div dx-button="btn_refresh"></div></td>
                    </tr>
                </table>
            </div>
            <div dx-data-grid="dg_req" id="dg_req" class="content" style="overflow-y:hidden;margin-top: 5px" dx-item-alias="row"></div>
        </div>

        <div dx-load-panel="loadPanel"></div>
    </div>
    <div class="rowx footer">
        <div class=" col-lg-8 col-md-11 col-sm-11 col-xs-11" style="padding:0">
            <table style="width:100%;margin:0;padding:0;">
                <tr>
                    <td style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_add"></div></td>
                    <td></td>


                </tr>
            </table>


        </div>

        <div ng-include="'app/views/vira_nis_add.html?vx.2'"></div>
        <div style="clear:both"></div>
    </div>
</div>
