
<style>
    .dx-placeholder {
        margin-left: 5px !important
    }
</style>
<div ng-controller="qaEmployee">
    <div id="popup_add" dx-popup="popup_add">
        <div dx-data-grid="dg" id="dg" class="col-lg-7" style="padding:7px 0 0 4px"></div>
        <div class="col-lg-5" style="padding: 7px 4px 0 4px">

            <div style="background:#ddd;padding:5px;border:1px solid #ccc">Selected People</div>
            <div class="thin-scroll2" style="overflow-y:auto;border:1px solid #ccc;padding:10px;height:120px">
                <div ng-repeat="x in selectedEmployees" style="padding:5px;text-align:center;background:#eee;display:inline-block;font-size:12px;margin:5px;">
                    <span>{{x.Name}}</span>
                    <span style="display:inline-block;margin-left:5px; color:red" ng-click="removeCrew(x)"><i class="fas fa-minus-circle"></i></span>
                </div>

            </div>

            <div style='padding: 5px;  margin-top: 5px; background: #ddd'>Remark</div>
            <div dx-text-area="referComment" style=" border: 1px solid #ccc; height: 120px" dx-validator="{validationGroup:'refer_grp',  validationRules: [{ type: 'required',   }]}"></div>

            <div style='padding: 5px; margin-top: 5px; background: #ddd'>DeadLine</div>
            <div style="height: 40px; width: 100%; border: 1px solid #ccc; margin-top: 5px" dx-date-box="deadline"></div>

            <div style='padding: 5px; margin-top: 5px; background: #ddd '>Priority</div>
            <div style="height: 40px; border: 1px solid #ccc; margin-top: 5px" dx-select-box="sb_priority"></div>

            <!--<table>
                <tr>
                    <td style="padding-left:5px"><p style="margin: 5px 0 0 !important">DeadLine</p></td>
                    <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 dx-border" style="padding:5px"><div style="width:100%" dx-date-box="deadline"></div></td>
                </tr>
                <tr>
                    <td style="padding-left:5px"><p style="margin: 5px 0 0 !important">Priority</p></td>
                    <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 dx-border" style="padding:5px"></td>
                </tr>
            </table>-->
        </div>

        <!--<div style="height: 40px">
            <div dx-date-box="deadline" style="display: inline-block; width: 340px; border: 1px solid lightgray; text-align: center; margin-left: 4px" class="center"></div>
            <div dx-select-box="sb_priority" style="display: inline-block; width: 349px; border: 1px solid lightgray; text-align: center " class="center"></div>
        </div>-->
    </div>
    <div dx-load-panel="loadPanel"></div>
</div>
