

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }



    .chartBox {
        border: 1px solid #e0e0e0;
        background-color: white;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_flight .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight .dx-icon.dx-icon-export-excel-button {
        color: white;
    }


    .generalInfo {
        height: 205px;
        /*margin: 2px;*/
        /*width: 49.3%;*/
    }


    #dg_events .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_events .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_events .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_events .dx-icon.dx-icon-export-excel-button {
        color: white;
    }

    .tile-form-selected {
        background: #66ffc2 !important;
    }
</style>




<div class="box qaReport" style="overflow-y:hidden">

    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div ng-include="'app/views/templates.html'"></div>


    <div class="rowx content" style="clear:both">
        <div dx-popup="popup_form_list" id="popup_form_list">
            <div id="dg_form_list" dx-data-grid="dg_form_list" class="content" style="overflow-y:hidden" dx-item-alias="row"></div>
        </div>

        <div id="popup_form" dx-popup="popup_form" class="no-padding">
            <div ng-include="'app/views/qaCatering.html?vx=2'" ng-if="Type == 4 && popup_form_visible == true" onload="cateringLoaded()"></div>
            <div ng-include="'app/views/qaCabin.html?vx=2'" ng-if="Type == 0 && popup_form_visible == true" onload="cabinLoaded()"></div>
            <div ng-include="'app/views/qaMaintenance.html?vx=2'" ng-if="Type == 3 && popup_form_visible == true" onload="maintenanceLoaded()"></div>
            <div ng-include="'app/views/qaGround.html?vx=2'" ng-if="Type == 1 && popup_form_visible == true" onload="groundLoaded()"></div>
            <div ng-include="'app/views/qaVoluntary.html?vx=2'" ng-if="Type == 2 && popup_form_visible == true" onload="voluntaryLoaded()"></div>
            <div ng-include="'app/views/qaSecurity.html?vx=2'" ng-if="Type == 5 && popup_form_visible == true" onload="securityLoaded()"></div>
            <div ng-include="'app/views/qaDispatch.html?vx=2'" ng-if="Type == 6 && popup_form_visible == true" onload="dispatchLoaded()"></div>
            <div ng-include="'app/views/qaCyberSecurity.html?vx=2'" ng-if="Type == 7 && popup_form_visible == true" onload="cyberLoaded()"></div>
        </div>

        <div dx-scroll-view="scroll_1">


            <div class='visible-lg'>

                <div>
                    <div class="col-lg-3 col-md-3  " style="padding: 2px; height: 150px" ng-click="Type = 0">
                        <div class="chartBox" style="width: 100%; height: 100%" ng-class='get_form_tile_class(0)'>
                            <p style="text-align: center; font-size: 16px; padding-top: 5px">Cabin Safty Report</p>
                            <p style="text-align: center; font-size: 60px; margin-top: 0">{{ds_cabinTotal}}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 " style="padding: 2px; height: 150px" ng-click="Type = 1">
                        <div class="chartBox" style="width: 100%;height:100%" ng-class='get_form_tile_class(1)'>
                            <p style="text-align: center; font-size: 16px; padding-top: 5px">Ground Damage Report</p>
                            <p style="text-align: center; font-size: 60px;margin-top: 0">{{ds_groundTotal}}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3  " style="padding: 2px; height: 150px" ng-click="Type = 3">
                        <div class="chartBox" style="width:100%;height:100%" ng-class='get_form_tile_class(3)'>
                            <p style="text-align: center; font-size: 16px; padding-top: 5px">MAINTENANCE OCCURENCE REPORT</p>
                            <p style="text-align: center; font-size: 60px; margin-top: 0 ">{{ds_maintenanceTotal}}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3  " style="padding: 2px; height: 150px" ng-click="Type = 6">
                        <div class="chartBox" style="width:100%;height:100%" ng-class='get_form_tile_class(6)'>
                            <p style="text-align: center; font-size: 16px; padding-top: 5px">DISPATCH HAZARD REPORT</p>
                            <p style="text-align: center; font-size: 60px; margin-top: 0 ">{{ds_dispatchTotal}}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3  " style="padding: 2px; height: 150px" ng-click="Type = 5">
                        <div class="chartBox" style="width:100%;height:100%" ng-class='get_form_tile_class(5)'>
                            <p style="text-align: center; font-size: 16px; padding-top: 5px">SECURITY HAZARD REPORT</p>
                            <p style="text-align: center; font-size: 60px; margin-top: 0 ">{{ds_securityTotal}}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3  " style="padding: 2px; height: 150px" ng-click="Type = 4">
                        <div class="chartBox" style="width:100%;height:100%" ng-class='get_form_tile_class(4)'>
                            <p style="text-align: center; font-size: 16px; padding-top: 5px">CATERING HAZARD REPORT</p>
                            <p style="text-align: center; font-size: 60px; margin-top: 0 ">{{ds_cateringTotal}}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3  " style="padding: 2px; height: 150px" ng-click="Type = 2">
                        <div class="chartBox" style="width:100%;height:100%" ng-class='get_form_tile_class(2)'>
                            <p style="text-align: center; font-size: 16px; padding-top: 5px">VOLUNTARY HAZARD REPORTING</p>
                            <p style="text-align: center; font-size: 60px; margin-top: 0 ">{{ds_voluntaryTotal}}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3  " style="padding: 2px; height: 150px" ng-click="Type = 7">
                        <div class="chartBox" style="width:100%;height:100%" ng-class='get_form_tile_class(7)'>
                            <p style="text-align: center; font-size: 16px; padding-top: 5px">CYBER SECURITY HAZARD REPORT</p>
                            <p style="text-align: center; font-size: 60px; margin-top: 0 ">{{ds_cyberTotal}}</p>
                        </div>
                    </div>
                </div>



                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 0">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCSRChart" dx-chart="qaCSRChart"></div>
                    </div>
                </div>

                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 0">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCSRByRegisterChart" dx-chart="qaCSRByRegisterChart"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 0">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="cabinFltPhase" dx-pie-chart="cabinFltPhase"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 0">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCSRByRouteChart" dx-chart="qaCSRByRouteChart"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 0">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCSREventChart" dx-tree-map="qaCSREventChart"></div>
                    </div>
                </div>

                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 3">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaMaintenanceChart" dx-chart="qaMaintenanceChart"></div>
                    </div>
                </div>

                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 3">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaMaintenanceRegChart" dx-chart="qaMaintenanceRegChart"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 3">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaMaintenanceRoute" dx-chart="qaMaintenanceRoute"></div>
                    </div>
                </div>

                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 3">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div dx-pie-chart="pie_maint_component"></div>
                    </div>
                </div>
                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 3">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="bar_maint_component" dx-chart="bar_maint_component"></div>
                    </div>
                </div>

                <div style='clear:both'></div>
                <div class='col-lg-12' ng-if="Type == 3">
                    <div style='margin-top:5px;padding:7px;text-align:center;background:gray;color:white'>{{maint_component}}</div>
                </div>
                <div style='clear:both'></div>
                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 3">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="bar_maint_component_reg" dx-chart="bar_maint_component_reg"></div>
                    </div>
                </div>
                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 3">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div dx-pie-chart="pie_maint_component_regs"></div>
                    </div>
                </div>



                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 6">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaDispatchChart" dx-chart="qaDispatchChart"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 6">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaDispatchRegister" dx-chart="qaDispatchRegister"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 6">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaDispatchRoute" dx-chart="qaDispatchRoute"></div>
                    </div>
                </div>


                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 1">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaGroundChart" dx-chart="qaGroundChart"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 1">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaGroundRegister" dx-chart="qaGroundRegister"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 1">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaGroundRoute" dx-chart="qaGroundRoute"></div>
                    </div>
                </div>

                <!--<div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 1">
        <div class=" chartBox" style='padding: 10px 0 10px 0'>
            <div id="qaGroundDamage" dx-pie-chart="qaGroundDamage"></div>
        </div>
    </div>-->

                <div class='col-lg-12' style='padding: 10px 11px 10px 14px' ng-if="Type == 1">
                    <div class="col-lg-4" style="background-color: white" ng-repeat="chartConfig in chartConfigs">
                        <div id="chartConfig" dx-pie-chart="chartConfig"></div>
                    </div>
                </div>


                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 4">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCateringChart" dx-chart="qaCateringChart"></div>
                    </div>
                </div>

                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 4">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCateringRegister" dx-chart="qaCateringRegister"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 4">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCateringRoute" dx-chart="qaCateringRoute"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 4">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="cateringReasonTitle" dx-pie-chart="cateringReasonTitle"></div>
                    </div>
                </div>



                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 2">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaVoluntaryChart" dx-chart="qaVoluntaryChart"></div>
                    </div>
                </div>



                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 7">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCyberChart" dx-chart="qaCyberChart"></div>
                    </div>
                </div>

                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 7">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCyberRegister" dx-chart="qaCyberRegister"></div>
                    </div>
                </div>

                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 7">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCyberRoute" dx-chart="qaCyberRoute"></div>
                    </div>
                </div>

                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 5">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaSecurityChart" dx-chart="qaSecurityChart"></div>
                    </div>
                </div>

                <div class='col-lg-6' style='padding:10px 11px 10px 14px' ng-if="Type == 5">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaSecurityRegister" dx-chart="qaSecurityRegister"></div>
                    </div>
                </div>



                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 5">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaSecurityRoute" dx-chart="qaSecurityRoute"></div>
                    </div>
                </div>


                <div class='col-lg-12' style='padding:10px 11px 10px 14px' ng-if="Type == 5">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="securityReasonTitle" dx-pie-chart="securityReasonTitle"></div>
                    </div>
                </div>



                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>

            <div class='visible-md visible-sm'>


            </div>

            <div class='visible-xs'>


                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCSRChartXS" dx-chart="qaCSRChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCSRByRegisterXS" dx-chart="qaCSRByRegisterXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCSRByRouteXS" dx-chart="qaCSRByRouteXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCSREventChartXS" dx-chart="qaCSREventChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaMaintenanceChartXS" dx-chart="qaMaintenanceChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaMaintenanceRegChartXS" dx-chart="qaMaintenanceRegChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaMaintenanceRouteXS" dx-chart="qaMaintenanceRouteXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaDispatchChartXS" dx-chart="qaDispatchChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaDispatchRegisterXS" dx-chart="qaDispatchRegisterXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaDispatchRouteXS" dx-chart="qaDispatchRouteXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaGroundChartXS" dx-chart="qaDispatchChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaGroundRegisterXS" dx-chart="qaDispatchRegisterXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaGroundRouteXS" dx-chart="qaDispatchRouteXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCateringChartXS" dx-chart="qaCateringChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCateringRegisterXS" dx-chart="qaCateringRegisterXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCateringRouteXS" dx-chart="qaCateringRouteXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 11px 10px 14px' ng-if="Type == 5">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="cateringReasonTitleXS" dx-pie-chart="cateringReasonTitleXS"></div>
                    </div>
                </div>


                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaSecurityChartXS" dx-chart="qaSecurityChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaSecurityRegisterXS" dx-chart="qaSecurityRegisterXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaSecurityRouteXS" dx-chart="qaSecurityRouteXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 11px 10px 14px' ng-if="Type == 5">
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="securityReasonTitleXS" dx-pie-chart="securityReasonTitleXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaVoluntaryChartXS" dx-chart="qaVoluntaryChartXS"></div>
                    </div>
                </div>


                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCyberChartXS" dx-chart="qaCyberChartXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCyberRegisterXS" dx-chart="qaCyberRegisterXS"></div>
                    </div>
                </div>

                <div class='col-xs-12' style='padding:10px 0 10px 0'>
                    <div class=" chartBox" style='padding: 10px 0 10px 0'>
                        <div id="qaCyberRouteXS" dx-chart="qaCyberRouteXS"></div>
                    </div>
                </div>



            </div>
        </div>

    </div>


    <div class="rowx footer">
        <div class=" col-lg-8 col-md-11 col-sm-11 col-xs-11" style="padding:0;">
            <table style="width:100%;margin:0;padding:0;">
                <tr>

                    <td style="width:100px; padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_yf"></div></td>
                    <td style="width:100px; padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_mf"></div></td>
                    <td style="width:100px; padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_yt"></div></td>
                    <td style="width:100px; padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_mt"></div></td>
                    <td style="width:120px;margin-left:10px" dx-button="btn_search"></td>
                </tr>
            </table>
        </div>
    </div>


    <div dx-load-panel="loadPanel"></div>

</div>
