
<style>

    .ctd {
        border: 1px solid #ccc;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #ccc;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }

    .ht.selected {
        background: #00ffaa !important;
        color: black !important;
    }

    .dx-fileuploader-input-wrapper {
        padding-left: 10px !important
    }

    .dx-fileuploader-input {
        display: none !important
    }

   .tbl_hazard{
   }
   .tbl_hazard tr
   {
      border-bottom:1px solid #ccc;
   }
   .tbl_hazard tr td {
      padding:5px;
	  
   }
   .tbl_hazard .hzrow {
      background:#eee;
	  font-weight:bold;
   }
   
   .dx-scrollbar-horizontal.dx-scrollbar-hoverable {height:14px;}

.dx-scrollbar-horizontal .dx-scrollable-scroll {height:14px;}

.dx-scrollable-scroll.dx-state-invisible {background:#ccc};

</style>
<div ng-controller="qaReferController">
    <div style='padding:10px 5px 0 5px'>
        <div style='border:0px solid #eee;'>
            <table style='width:100%;margin-bottom:5px'>
                <tr>
                    <td style='width:25%;border-right:1px solid white'>
                        <div style='padding:7px;background:#009999;color:white;text-align:center;font-weight:bold' class='ht selected' ng-click="ht_click($event,'followup')">Referral Tree</div>
                    </td>
					<!--<td style='width:25%;border-right:1px solid white'>
                        <div style='padding:7px;background:#009999;color:white;text-align:center;font-weight:bold' class='ht' ng-click="ht_click($event,'register')">Hazard Log</div>
                    </td>-->
                    <td style='width:25%; border-right: 1px solid white'>
                        <div style='padding:7px;background:#009999;color:white;text-align:center;font-weight:bold' class='ht' ng-click="ht_click($event,'comments')">Evidences</div>
                    </td>
                    <td style='width:25%; border-right: 0px solid white'>
                        <div style='padding:7px;background:#009999;color:white;text-align:center;font-weight:bold' class='ht' ng-click="ht_click($event,'feedback')">FeedBacks / Comments</div>
                    </td>
                </tr>
            </table>




            <div id='followup' class='ht_content'>
                <div style='border:1px solid #ccc'>
                    <div dx-tree-list="referred_list"></div>
                </div>
				
                <div style='margin-top:10px;padding:7px;border-top:0px solid #ccc;background:#eee'>Remark</div>
                <div dx-text-area="txt_referComment" class='dx-border'></div>
				<table style='width:100%;margin-top:10px;' class='dx-border'>
				  <tr>
				     <td style='width:60px'>Priority:</td>
					 <td><div dx-text-box="txt_priority"></div></td>
					 <td style='width:100px;text-align:right;padding-right:10px'>Deadline:</td>
					 <td><div dx-text-box="txt_deadline"></div></td>
				  </tr>
				</table>
				
            </div>
            <div id='comments' style='display:none' class='ht_content'>
                <div id="scroll_comment" dx-scroll-view="scroll_comment" style='border:1px solid #ccc'>
                    <div style="border: 1px lightgray solid;margin:10px; padding:5px" ng-repeat="c in comments">
                        <div style="border-bottom: 1px lightgray solid;background:#ddd  ">
                            <table style='width:100%;'>
                                <tr>
                                    <td style='padding:5px;text-align:left;width:70%;'>{{c.EmployeeName}}</td>
                                    <td style='text-align:right;padding:5px;'>{{c.DateComment.substring(0,10)}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class='thin-scroll' style="border-bottom: 1px lightgray solid;padding:5px;overflow-y:auto;height:100px;">{{c.Comment}}</div>
                        <div style='margin-top:5px;padding-top:5px;'>
                            <div style='padding:4px;font-size:11px;display:inline-block;margin-left:5px;margin-bottom:5px;text-align:center;color:white;background:#00b3b3' ng-repeat="a in c.Attachments" ng-click="download(a.Lable)">
                                {{a.Lable}}
                            </div>

                            <div style='clear:both'></div>
                        </div>
                    </div>
                </div>
                <div dx-button="btn_comment" style='margin-top:5px;'></div>
            </div>

            <div id='feedback' style='display:none' class='ht_content'>
                <div id="scroll_feedback" dx-scroll-view="scroll_feedback" style='border:1px solid #ccc'>



                    <div style='border-bottom:1px solid #eee;' ng-repeat='fb in FeedBacks'>
                        <div style='padding:7px; border-bottom:1px solid #ddd;background:#eee;'>{{fb.Creator}}</div>
                        <div style='border-bottom:1px solid #eee;padding:5px; direction:rtl'>{{fb.Feedback}}</div>
                        <table style='width:100%;'>
                            <tr>
                                <td style='width:50%;text-align:left;padding: 7px'>Created at: {{fb.DateCreate.substring(0,10)}}</td>
                                <td ng-click="dltFeedback(fb.Id)" style="float: right; width:30px; height: 30px; background-color: red; color: white; border-radius: 100%; text-align: center"><i style="font-size: 18px; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }" class="fas fa-trash"></i></td>
                            </tr>
                        </table>
                    </div>


                    <!--<div style="width: 100%; text-align: center; background-color: whitesmoke; font-weight: bold; height:30px; padding:5px">{{x.DateCreate.substring(0,10)}}</div>
                    <div style="direction: rtl; padding:5px">{{x.Feedback}}</div>-->

                </div>
                <div dx-button="btn_feedback" style='margin-top:5px;'></div>
            </div>
			
			<div id='register' style='display:none' class='ht_content'>
                <div id="scroll_register"   style='border:1px solid #ccc;padding:5px;overflow-y:auto' class='thin-scroll2' ng-style='get_register_style()'>
                      <div style='padding:0px'>
                        <table class='tbl_hazard' style='width:90%;' id='tbl_reg'>
						   <tr class='hzrow'>
						      <td colspan='4'>Hazard Identification</td>
						   </tr>
						  <!-- <tr>
						     <td>Date</td>
							 <td  class='dx-border'><div class="center" dx-date-box="date_identification"   ></div></td>
							  <td style='text-align:right'>Scope</td>
							 <td><div dx-text-box="txt_scope"  class="dx-border"></div></td>
						   </tr>-->
						    
						   <!-- <tr>
						     <td>Source</td>
							 <td colspan=3><div dx-text-box="txt_source"  class="dx-border"></div></td>
						   </tr>-->
						   <tr>
						     <td>Scope</td>
							 <td colspan=3><div dx-text-box="txt_scope"  class="dx-border"></div></td>
						   </tr>
						   <tr>
						     <td colspan=4>Hazard Description</td>
							 
						   </tr>
						   <tr>
						     <td colspan=4> <div dx-text-area="txt_hazard" class="dx-border"></div></td>
							 
						   </tr>
						  <!-- <tr>
						     <td colspan=4>Hazard Consequences</td>
							 
						   </tr>-->
						    <tr>
						     <td colspan=4> 
							 <div dx-data-grid="dg_consequences" id="dg_consequences" class="content" style="overflow-y:hidden" dx-item-alias="row">
							   <div data-options="dxTemplate:{ name:'temp_con' }">
                                <a ng-click="delete_con(row.data)" href="" class='w3-button w3-block w3-red' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Del</a>
                               </div>
							 </div></td>
							 
						   </tr>
						   <tr>
						      <td colspan=3><div dx-text-box="txt_con"  class="dx-border"></div></td>
							  <td><div dx-button="btn_add_con"></div><div style='margin-left:5px' dx-button="btn_remove_con"></div></td>
						   </tr>
						  <!--  <tr>
						     <td colspan=4>Root Causes</td>
							 
						   </tr>-->
						    <tr>
						     <td colspan=4> <div dx-data-grid="dg_root_cause" id="dg_root_cause" class="content" style="overflow-y:hidden" dx-item-alias="row">
							   <div data-options="dxTemplate:{ name:'temp_root' }">
                                <a ng-click="delete_root(row.data)" href="" class='w3-button w3-block w3-red' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Del</a>
                               </div>
							 </div></td>
							 
						   </tr>
						   <tr>
						      <td colspan=3><div dx-text-box="txt_root"  class="dx-border"></div></td>
							  <td><div dx-button="btn_add_root"></div><div style='margin-left:5px' dx-button="btn_remove_root"></div></td>
						   </tr>
						   <tr>
						     <td colspan=4><div class="dx-border" dx-check-box="check_relevant"></div></td>
							 
							  
						   </tr>
						    <tr class='hzrow'>
						      <td colspan=4>Risk Assessment</td>
						   </tr>
						   <tr>
						     <td>Probability</td>
							 <td> <div  class="dx-border" dx-select-box="sb_prob"></div></td>
							  <td style='text-align:right'>Severity</td>
							 <td> <div  class="dx-border" dx-select-box="sb_severity"></div></</td>
						   </tr>
						   <tr>
						     <td  >Risk Index Matrix</td>
							 <td><div dx-text-box="txt_index"  class="dx-border"></div></td>
							  <td/>
							  <td/>
						   </tr>
						   
						   <tr>
						     <td>Risk Acceptability</td>
							 <td colspan=3><div  class="dx-border" dx-select-box="sb_risk_type"></div></td>
						   </tr>
						   <tr>
						     <td>Description</td>
							 <td colspan=3><div  class="dx-border" dx-select-box="sb_description"></div></td>
						   </tr>
						   <tr>
						     <td>Responsible Manager</td>
							 <td><div  class="dx-border" dx-select-box="sb_responsible_manager"></div></td>
							  <td >Date/Signature</td>
							 <td  class='dx-border'><div class="center" dx-date-box="date_responsible_manager" ></div> </td>
						   </tr>
						   <tr>
						     <td>QA Approval</td>
							 <td><div dx-text-box="txt_qa_approval"  class="dx-border"></div></td>
							  <td>Date/Signature</td>
							 <td  class='dx-border'><div class="center" dx-date-box="date_qa_approval" ></div> </td>
						   </tr>
						   
						    <tr class='hzrow'>
						      <td colspan=4>Risk Elimination or Mitigation or Control Measures</td>
						   </tr>
						   <!--<tr>
						     <td colspan=4>Action Taken</td>
							 
						   </tr>-->
						   <tr>
						     <td colspan=4><div dx-data-grid="dg_action_taken" id="dg_action_taken" class="content"   dx-item-alias="row">
							 <div data-options="dxTemplate:{ name:'temp_action' }">
                                <a ng-click="delete_action(row.data)" href="" class='w3-button w3-block w3-red' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Del</a>
                               </div>
							 </div></td>
							 
						   </tr>
						   <tr>
						      <td colspan=3><div dx-text-box="txt_action"  class="dx-border"></div></td>
							  <td><div dx-button="btn_add_action"></div><div style='margin-left:5px' dx-button="btn_remove_action"></div></td>
						   </tr>
						   <tr>
						     <td>Responsible Staff</td>
							 <td colspan=3><div dx-text-box="txt_action_staff"  class="dx-border"></div></td>
						   </tr>
						    <tr>
						     <td>Time Limit</td>
							 <td colspan=3><div dx-text-box="txt_action_time_limit"  class="dx-border"></div></td>
						   </tr>
						    <tr>
						     <td>Date/Signature</td>
							 <td class='dx-border' ><div class="center" dx-date-box="date_action_staff" ></div></td>
							  <td>QA Approval</td>
							 <td  class='dx-border'><div class="center" dx-date-box="date_action_qa_approval" ></div></td>
						   </tr>
						   
						    <tr class='hzrow'>
						      <td colspan=4>Risk Assessment Review</td>
						   </tr>
						   <tr>
						     <td>Probability</td>
							 <td><div  class="dx-border" dx-select-box="sb_prob2"></div></td>
							  <td style='text-align:right'>Severity</td>
							 <td><div  class="dx-border" dx-select-box="sb_severity2"></div></td>
						   </tr>
						   <tr>
						     <td >Risk Index Matrix</td>
							 <td><div dx-text-box="txt_index2"  class="dx-border"></div></td>
							  <td  style='text-align:right'>Date</td>
							 <td class="dx-border"><div class="center" dx-date-box="date_review" ></div> </td>
							  
						   </tr>
						   <tr>
						     <td>Risk Acceptability</td>
							 <td colspan=3><div  class="dx-border" dx-select-box="sb_accept"></div></td>
						   </tr>
						   
						    <tr class='hzrow'>
						      <td colspan=4>Monitoring and Control</td>
						   </tr>
						    <tr>
						     <td colspan=4><div dx-data-grid="dg_monitoring" id="dg_monitoring" class="content" style="overflow-y:hidden" dx-item-alias="row">
							 <div data-options="dxTemplate:{ name:'temp_monitor' }">
                                <a ng-click="delete_monitor(row.data)" href="" class='w3-button w3-block w3-red' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Del</a>
                               </div>
							 </div></td>
							 
						   </tr>
						   
						    <tr>
						      <td colspan=3><div dx-text-box="txt_monitor"  class="dx-border"></div></td>
							  <td><div dx-button="btn_add_monitor"></div><div style='margin-left:5px' dx-button="btn_remove_monitor"></div></td>
						   </tr>
						   <tr>
						     <td>Date</td>
							 <td class='dx-border' ><div class="center" dx-date-box="date_last_updated" ></div></td>
							  <td> </td>
							 <td  class='dx-border'> </div></td>
						   </tr>
						   
						   
						   
						</table>
						
						 
						</div>

                     
                </div>
                <div style='margin-top:5px;' dx-button="btn_save_register"></div>
            </div>





        </div>

    </div>


    <div id="popup_comment" dx-popup="popup_comment" class="no-padding">



        <div dx-tabs="tabs_options"></div>

        <div id="comment" class="tabs">
            <div dx-text-area="txt_comment" class="dx-border" style=" overflow-y:hidden;  padding:10px"></div>
        </div>

        <div id="attachment" class="tabs">
            <div dx-data-grid="dg_attachment" id="dg_attachment" class="content" style="overflow-y:hidden" dx-item-alias="row">

                <div data-options="dxTemplate:{ name:'downloadTemplate' }">
                    <a ng-click="download(row.data.FileName)" href="" class='w3-button w3-block w3-blue' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Download</a>

                </div> <div data-options="dxTemplate:{ name:'deleteTemplate' }">
                    <a ng-click="deleteFile(row.data)" href="" class='w3-button w3-block w3-red' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Delete</a>
                </div>
            </div>
            <div id="uploader_document" dx-file-uploader="uploader_document" style=" margin-top:7px"></div>

        </div>




    </div>


    <div id="popup_feedback" dx-popup="popup_feedback" class="no-padding">



        <div dx-text-area="txt_feedback" class="dx-border" style=" overflow-y:hidden;  padding:10px"></div>




    </div>



    <div dx-load-panel="loadPanel"></div>
</div>
