<style>
    .form-header {
        text-align: center;
        margin-bottom: 20px;
        border: 1px solid #dee2e6;
        padding: 15px;
        border-radius: 5px;
    }

        .form-header h1 {
            font-size: 24px;
            margin: 0;
        }

        .form-header .form-info {
            font-size: 14px;
            margin-bottom: 0;
        }

    .form-section {
        border: 1px solid #dee2e6;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        background-color: white;
    }

    .flat-input, .flat-select-box .dx-dropdowneditor-input {
        border: 1px solid #dee2e6 !important;
        background-color: #ffffff !important;
        padding: 0.375rem 0.75rem;
        border-radius: 0;
        box-shadow: none !important;
        transition: border-color 0.15s ease-in-out !important;
    }

        .flat-input:focus, .flat-select-box .dx-dropdowneditor-input:focus {
            border-color: #80bdff !important;
            outline: none;
            box-shadow: none !important;
        }

    .text-box, .date-box {
        background-color: white;
        border: 1px solid lightgray;
        padding: 7px 5px;
        width: 100%;
    }

    .assessment-options label {
        margin-right: 10px;
    }

    .form-section h4 {
        margin-top: 20px;
    }

    .title {
        border: 1px solid lightgray;
        background-color: whitesmoke;
        margin-bottom: 0px;
        border-bottom: 0px;
        padding: 10px
    }

    .description {
        vertical-align: middle !important;
    }

    .table {
        background-color: white;
    }

    .select_box {
        background-color: white;
        border: 1px solid lightgray;
        padding: 7px 5px;
    }
</style>

<div class="container">
    <h4 class="title">Line Check Form (PF)</h4>
    <div class="form-section">
        <form>
            <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-4">
                    <div dx-date-box class="date-box" style="width:100%" ng-model="formData.date"></div>
                </div>
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-4">
                    <div class="text-box" dx-text-box ng-model="formData.name"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="codeNo" class="col-sm-2 col-form-label">Code No</label>
                <div class="col-sm-4">
                    <div class="text-box" dx-text-box ng-model="formData.codeNo"></div>
                </div>
                <label for="location" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-4">
                    <div class="text-box" dx-text-box ng-model="formData.location"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="acType" class="col-sm-2 col-form-label">A/C Type</label>
                <div class="col-sm-4">
                    <div class="text-box" dx-text-box ng-model="formData.acType"></div>
                </div>
                <label for="acRegistration" class="col-sm-2 col-form-label">A/C Registration</label>
                <div class="col-sm-4">
                    <div class="text-box" dx-text-box ng-model="formData.acRegistration"></div>
                </div>
            </div>
        </form>
    </div>

    <h4 class="title">Pilot Flying (PF)</h4>
    <div class="form-section">
        <h4 class="title">Pre-Flight</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.preFlight">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">Take-Off</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.takeOff">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">Climb</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.climb">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">Cruise</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.cruise">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">Descent</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.descent">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">Approach</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.approach">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">Landing</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.landing">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">After Landing & Shutdown</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.afterLandingShutdown">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">General & CRM</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-10">Description</th>
                    <th class="col-sm-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.generalCRM">
                    <td>{{item.description}}</td>
                    <td><div dx-select-box="ratingOptions" class="select_box" ng-model="item.rating"></div></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4 class="title">Comments</h4>
    <div class="form-section">
        <div class="form-group row">
            <label for="comments" class="col-sm-12 col-form-label">Comments</label>
            <div class="col-sm-12">
                <div dx-text-area ng-model="formData.comments" class="text-box" dx-multiline="true"></div>
            </div>
        </div>
    </div>

    <h4 class="title">Signatures</h4>
    <div class="form-section">
        <div class="form-group row">
            <label for="signature" class="col-sm-3 col-form-label">Signature of Captain</label>
            <div class="col-sm-9">
                <div dx-text-box ng-model="formData.signatureCaptain" class="text-box"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="signature" class="col-sm-3 col-form-label">Signature of IP</label>
            <div class="col-sm-9">
                <div dx-text-box ng-model="formData.signatureIP" class="text-box"></div>
            </div>
        </div>
    </div>

    <div dx-button="btn_save"></div>
</div>
