<style>
    .form-header {
        text-align: center;
        margin-bottom: 20px;
        border: 1px solid #dee2e6;
        padding: 15px;
        border-radius: 5px;
    }

        .form-header h1 {
            font-size: 24px;
            margin: 0;
        }

        .form-header .form-info {
            font-size: 14px;
            margin-bottom: 0;
        }

    .form-section {
        border: 1px solid #dee2e6;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        background-color: white;
    }

    .flat-input, .flat-select-box .dx-dropdowneditor-input {
        border: 1px solid #dee2e6 !important;
        background-color: #ffffff !important;
        padding: 0.375rem 0.75rem;
        border-radius: 0;
        box-shadow: none !important;
        transition: border-color 0.15s ease-in-out !important;
    }

        .flat-input:focus, .flat-select-box .dx-dropdowneditor-input:focus {
            border-color: #80bdff !important;
            outline: none;
            box-shadow: none !important;
        }

    .text-box, .date-box {
        background-color: white;
        border: 1px solid lightgray;
        padding: 10px 5px;
        width: 100%;
    }

    .overall-assessment {
        margin-top: 10px;
    }

        .overall-assessment input[type="radio"] {
            margin-right: 10px;
        }

    .sb_assessment{
        background-color: white;
        border: 1px solid lightgray;
        padding: 10px 5px;
    }

    .title {
        border: 1px solid lightgray;
        background-color: whitesmoke;
        margin-bottom: 0px;
        border-bottom: 0px;
        padding: 10px
    }
</style>

<div class="container" style="margin-top:10px">
    <h4 class="title">Basic Information</h4>
    <div class="form-section">
        <form>
            <div class="form-group row">
                <label for="date" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-3">
                    <div dx-date-box="dt_date" class="date-box" style="width:100%" ng-model="formData.date"></div>
                </div>
                <label for="crewName" class="col-sm-3 col-form-label">Crew Members Name & Grade</label>
                <div class="col-sm-3">
                    <div class="text-box" dx-text-box ng-model="formData.crewName"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="checkType" class="col-sm-3 col-form-label">Type of Check</label>
                <div class="col-sm-9">
                    <div class="text-box" dx-text-box ng-model="formData.checkType"></div>
                </div>
            </div>
        </form>
    </div>

    <h4 class="title">Category Observable Actions – Crew Members</h4>
    <div class="form-section">
        <div class="category">
            <h4 class="title">Workload Management</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Overall Assessment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in formData.workloadManagement">
                        <td>{{action.description}}</td>
                        <td><div dx-select-box="sb_assessment" class="sb_assessment" ng-model="action.assessment"></div></td>
                        <!--<td class="overall-assessment">
                            <label><input type="radio" ng-model="action.assessment" value="FL"> FL</label>
                            <label><input type="radio" ng-model="action.assessment" value="F"> F</label>
                            <label><input type="radio" ng-model="action.assessment" value="G"> G</label>
                            <label><input type="radio" ng-model="action.assessment" value="VG"> VG</label>
                            <label><input type="radio" ng-model="action.assessment" value="O"> O</label>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="category">
            <h4 class="title">Communications</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Overall Assessment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in formData.communications">
                        <td>{{action.description}}</td>
                        <td><div dx-select-box="sb_assessment" class="sb_assessment" ng-model="action.assessment"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="category">
            <h4 class="title">Leadership and Teamwork</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Overall Assessment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in formData.leadershipAndTeamwork">
                        <td>{{action.description}}</td>
                        <td><div dx-select-box="sb_assessment" class="sb_assessment" ng-model="action.assessment"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="category">
            <h4 class="title">Situation Awareness</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Overall Assessment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in formData.situationAwareness">
                        <td>{{action.description}}</td>
                        <td><div dx-select-box="sb_assessment" class="sb_assessment" ng-model="action.assessment"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="category">
            <h4 class="title">Problem Solving and Decision Making</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Overall Assessment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in formData.problemSolvingAndDecisionMaking">
                        <td>{{action.description}}</td>
                        <td><div dx-select-box="sb_assessment" class="sb_assessment" ng-model="action.assessment"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h4 class="title">Final Assessment & Grade</h4>
    <div class="form-section">
        <div class="form-group row">
            <label for="finalAssessment" class="col-sm-12 col-form-label">Final Assessment & Grade</label>
            <div class="col-sm-12">
                <div class="text-box" dx-text-box ng-model="formData.finalAssessment"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="specialComments" class="col-sm-12 col-form-label">Special Comments on Overall CRM Performance</label>
            <div class="col-sm-12">
                <div dx-text-box ng-model="formData.specialComments" class="text-box" dx-multiline="true"></div>
            </div>
        </div>
    </div>

    <h4 class="title">Signatures</h4>
    <div class="form-section">
        <div class="form-group row">
            <label for="crewSignature" class="col-sm-3 col-form-label">Crew Members Signature</label>
            <div class="col-sm-9">
                <div dx-text-box ng-model="formData.crewSignature" class="text-box"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="instructorName" class="col-sm-3 col-form-label">Instructor's Name & Signature</label>
            <div class="col-sm-9">
                <div dx-text-box ng-model="formData.instructorNameSignature" class="text-box"></div>
            </div>
        </div>
    </div>

    <div dx-button="btn_save"></div>
</div>
